<app-loading></app-loading>
<app-pop-transquery></app-pop-transquery>
<app-pop-confirm></app-pop-confirm>
<app-pop-reset></app-pop-reset>
<app-album></app-album>
<multi-edit></multi-edit>
<router-outlet></router-outlet>
