<div class="animated fadeIn" *ngIf="!IsEditor">
  <div class="card">
    <div class="card-header">
      精选活动管理
    </div>

    <div class="card-body">

      <div class="row">
        <div class="form-group col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-search"></i></span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="Query.keyword" placeholder="搜寻 活动标题、建案" />
          </div>
        </div>
        <div class="form-group col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">建案</span>
            </div>
            <select class="form-control" [(ngModel)]="Query.estateObjID">
              <option [value]="''">请选择</option>
              <option *ngFor="let item of estateObjList" [ngValue]="item.value">{{item.name}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">活动类型</span>
            </div>
            <select class="form-control" [(ngModel)]="Query.acttypeid" [disabled]="acttypeid">
              <option [value]="''">活动类型</option>
              <option *ngFor="let data of Act_Type" [ngValue]="data.Key">{{data.Value}}</option>
            </select>
          </div>
        </div>

        <div class="form-group col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">活动地区</span>
            </div>
            <select class="form-control" [(ngModel)]="Query.actareaid" [disabled]="actareaid">
              <option [value]="''">活动地区</option>
              <option *ngFor="let data of Act_Area" [ngValue]="data.value">{{data.name}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">启用</span>
            </div>
            <select class="form-control" [(ngModel)]="Query.status" [disabled]="IsStatused">
              <option [value]="''">选择是否启用</option>
              <option [value]="true">已启用</option>
              <option [value]="false">未启用</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 form-group">
          <button type="submit" style="margin-right: 10px" class="btn btn-primary" (click)="Submit()"><i
              class="fa fa-dot-circle-o"></i> 送出查询</button>
          <button type="reset" class="btn btn-primary btn-danger" (click)="Reset()"><i class="fa fa-ban"></i>
            清除</button>
        </div>
      </div>


      <div class="form-group float-right">
        <button type="button" style="margin-right: 10px" class="btn btn-primary btn-outline-success active"
          (click)="Create()" litmit="D03,add">新增</button>
      </div>

      <datatable [Source]="Data" [Setting]="TableSet"></datatable>

    </div>

  </div>
</div>


<!-- 新增修改 -->
<div class="animated fadeIn" *ngIf="IsEditor">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-6">
          精选活动管理 / <strong>{{mainForm.get('ID').value == null ? '新增' : '编辑'}}</strong>
        </div>
        <div class="col-md-6" style="text-align: right;">
          <button type="button" class="btn btn-sm btn-success" (click)="Cancel()"><i
              class="fa fa-chevron-left"></i>返回</button>
        </div>
      </div>
    </div>
    <!-- <div class="card">
    <div class="card-header">
      精选活动管理 / <strong>{{mainForm.get('ID').value == null ? '新增' : '编辑'}}</strong>
    </div> -->

    <form class="form-horizontal" [formGroup]="mainForm" (ngSubmit)="FormSubmit()">
      <div class="card-body">
        <div class="form-group row">
          <label class="col-md-3 col-form-label">活动类型<span class="redpoint">*</span></label>
          <div class="col-md-3">
            <select class="form-control" formControlName="ActType">
              <option value="">请选择活动类型</option>
              <ng-container *ngFor="let data of Act_Type">
                <option [value]="data.Key">{{data.Value}}</option>
              </ng-container>
            </select>
          </div>

          <label class="col-md-3 col-form-label">活动時間日期<span class="redpoint">*</span></label>
          <div class="col-md-3">
            <input type="text" class="form-control" formControlName="ActDate" datePicker="full" />
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('Name').valid || mainForm.get('Name').pristine">
                必填 活动時間日期
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row">

        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">活动标题<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="Name" placeholder="请输入活动标题" minlength="1" required>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('Name').valid || mainForm.get('Name').pristine">
                必填 活动标题
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">活动标题(英文)<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="NameEn" placeholder="请输入活动标题(英文)" minlength="1"
              required>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('NameEn').valid || mainForm.get('NameEn').pristine">
                必填 活动标题(英文)
              </span>
            </div>
          </div>
        </div>



        <!-- <div class="form-group row">
          <label class="col-md-3 col-form-label">
              活动地区
          </label>
          <div class="col-md-9">
            <tag-input [Selected]="mainForm.get('ActArea')" [DataList]="Act_Area"></tag-input>
          </div>
        </div> -->

        <div class="form-group row">
          <label class="col-md-3 col-form-label">活动地区<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <select class="form-control" formControlName="ActArea">
              <option [value]="''">请选择活动地区</option>
              <ng-container *ngFor="let data of Act_Area">
                <option [value]="data.value">{{data.name}}</option>
              </ng-container>
            </select>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('ActArea').valid || mainForm.get('ActArea').pristine">
                必填 活动地区
              </span>
            </div>
          </div>
        </div>


        <div class="form-group row">
          <label class="col-md-3 col-form-label">活动位置<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="ActPosition" placeholder="请输入活动位置" minlength="1"
              required>

            <div class="col-md-12">
              <span class="help-block"
                [hidden]="mainForm.get('ActPosition').valid || mainForm.get('ActPosition').pristine">
                必填 活动位置
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">活动位置(英文)<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="ActPositionEn" placeholder="请输入活动位置(英文)"
              minlength="1" required>

            <div class="col-md-12">
              <span class="help-block"
                [hidden]="mainForm.get('ActPositionEn').valid || mainForm.get('ActPositionEn').pristine">
                必填 活动位置(英文)
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">活动地址<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="ActAddr" placeholder="请输入活动地址" minlength="1"
              required>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('ActAddr').valid || mainForm.get('ActAddr').pristine">
                必填 活动地址
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">活动地址(英文)<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="ActAddrEn" placeholder="请输入活动地址(英文)" minlength="1"
              required>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('ActAddrEn').valid || mainForm.get('ActAddrEn').pristine">
                必填 活动地址(英文)
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">列表简述</label>
          <div class="col-md-9">
            <textarea class="form-control" formControlName="Brief" placeholder="请输入列表简述" minlength="0"></textarea>
            <!-- <input type="text" > -->
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">列表简述(英文)</label>
          <div class="col-md-9">
            <textarea class="form-control" formControlName="BriefEn" placeholder="请输入列表简述(英文)" minlength="0"></textarea>
            <!-- <input type="text" class="form-control" formControlName="BriefEn" placeholder="请输入列表简述(英文)" minlength="0"> -->
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">列表图片<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <file-upload [Source]="mainForm.get('Img')"></file-upload>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('Img').valid || mainForm.get('Img').pristine">
                必填 列表图片
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">建案</label>
          <div class="col-md-9">
              <tag-input [Selected]="mainForm.get('EstateObjIDs')" [DataList]="estateObjList" [Create]="false"></tag-input>
            <!-- <input type="text" class="form-control" formControlName="EstateObjIDs" placeholder="请输入建案" minlength="0"> -->
          </div>
        </div>

        <!-- <div class="form-group row">
          <label class="col-md-3 col-form-label">建案(英文)</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="EstateObjIDsEn" placeholder="请输入建案(英文)"
              minlength="0">
          </div>
        </div> -->

        <div class="form-group row">
          <label class="col-md-3 col-form-label">活动介绍<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <html-edit [Source]="mainForm.get('Detail')"></html-edit>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('Detail').valid || mainForm.get('Detail').pristine">
                必填 活动介绍
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">活动介绍(英文)<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <html-edit [Source]="mainForm.get('DetailEn')"></html-edit>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('DetailEn').valid || mainForm.get('DetailEn').pristine">
                必填 活动介绍
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">活動流程</label>
          <div class="col-md-9">
            <div class="btn btn-sm btn-primary mr-15" (click)="SetProc('Process')">编辑项目</div>
            <div class="btn btn-sm btn-primary" (click)="SetProc('ProcessEn')">编辑英文项目</div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">交通方式</label>
          <div class="col-md-9">
            <div class="btn btn-sm btn-primary mr-15" (click)="Setalbum('Traffic')">编辑项目</div>
            <div class="btn btn-sm btn-primary" (click)="Setalbum('TrafficEn')">编辑英文项目</div>
          </div>
        </div>

        <div class="form-group row">

          <label class="col-md-3 col-form-label">上下架时间</label>
          <div class="col-md-4">
            <input type="text" class="form-control" formControlName="BeginDate" datePicker />
          </div>
          <div class="col-md-1" style="text-align: center;">~</div>
          <div class="col-md-4">
            <input type="text" class="form-control" formControlName="EndDate" datePicker />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">排序<span class="redpoint">*</span></label>
          <div class="col-md-3">
            <input type="text" class="form-control" formControlName="OrderNo" placeholder="请输入 OrderNo" maxlength="10"
              required>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('OrderNo').valid || mainForm.get('OrderNo').pristine">
                必填 排序
              </span>
            </div>
          </div>
        </div>



        <div class="form-group row">
          <label class="col-md-3 col-form-label">状态<span class="redpoint">*</span></label>
          <div class="col-md-9 col-form-label">

            <div class="form-check float-left mr-15">
              <input class="form-check-input" type="radio" id="checkboxall" [value]="true" formControlName="Status" />
              <label class="form-check-label" for="checkboxall">启用中</label>
            </div>

            <div class="form-check float-left">
              <input class="form-check-input" type="radio" id="checkboxal2" [value]="false" formControlName="Status" />
              <label class="form-check-label" for="checkboxal2">停用中</label>
            </div>

          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">建立时间</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="CreateDate" placeholder="" />
          </div>
        </div>

      </div>

      <div class="card-footer">
        
        <button type="submit" class="btn btn-sm btn-primary mr-15" [disabled]="!mainForm.valid" litmit="D03,add"><i
            class="fa fa-dot-circle-o"></i> 确认送出</button>
        <button type="submit" class="btn btn-sm btn-primary mr-15" [disabled]="!mainForm.valid" litmit="D03,edit"><i
            class="fa fa-dot-circle-o"></i> 确认送出</button>
        <button type="button" class="btn btn-sm btn-danger mr-15" *ngIf="mainForm.get('ID').value != null"
          (click)="Delete()" litmit="D03,delete"><i class="fa fa-dot-circle-o"></i>删除</button>
        <button type="button" class="btn btn-sm btn-secondary" (click)="Cancel()"><i class="fa fa-ban"></i> 取消</button>
      </div>

    </form>

  </div>

</div>