<div class="animated fadeIn">
    <div class="card">
      <div class="card-header">
        开发注意事项
      </div>
      <div class="card-body">
        <p>
            Wireframe：<a href="https://5k4b7p.axshare.com/#g=1" target="_blank">
              https://5k4b7p.axshare.com/#g=1
            </a><br/>
            Marvel：<a href="https://marvelapp.com/40f9b17/screen/58761688" target="_blank">
              https://marvelapp.com/40f9b17/screen/58761688
            </a><br/>
            後台SPEC：<a href="https://docs.google.com/spreadsheets/d/1imZQApaZUQbG_kov7nnOJIi6b7RbmzO8f0YcfV4Yurk/edit?usp=sharing" target="_blank">
              https://docs.google.com/spreadsheets/d/1imZQApaZUQbG_kov7nnOJIi6b7RbmzO8f0YcfV4Yurk/edit?usp=sharing
            </a><br/>
            <br/>
            後台template 完整版本 参考：<a href="https://drive.google.com/file/d/1qSRLN2IOA_8uj2LzdYIWyckRTAzbbtzb/view?usp=sharing" target="_blank">
              https://drive.google.com/file/d/1qSRLN2IOA_8uj2LzdYIWyckRTAzbbtzb/view?usp=sharing
            </a><br/>
            <br/>
            此後台所用语系为<label>简体中文</label>
            <a href="https://www.ifreesite.com/gbk-big5-gb2312-utf8.htm" target="_blank">
                繁简转换网页
            </a>
            後台预计开发流程：<br/>
            第一阶段：写api为主，画面先建立最基础栏位即可(可先不验证) 含新增修改删除等功能<br/>
            第二阶段：加入栏位验证，搜寻功能实作，排序功能实作<br/>
            第三阶段：图片上传，Html编辑器，特殊建档(EX:动态新增表单,DatePicker)实作<br/>
            第四阶段：登入，权限套用<br/>
            第五阶段：特殊介接功能开发(EX:寄信,推播等...)
        </p>


        <div class="form-group row">
            <label class="col-md-3 col-form-label">日期选择器(搜寻用)<br/>(只适用ngModel) </label>
            <div class="col-md-9">
              {{ngModelDate}}
              <input type="text" class="form-control" [(ngModel)]="ngModelDate" datePickerNgModel/>
            </div>
        </div>

        <form class="form-horizontal" [formGroup]="mainForm" (ngSubmit)="FormSubmit()">

          <!-- <div class="form-group row">
            <label class="col-md-3 col-form-label">Tag Select 用法</label>
            <div class="col-md-9">
              <tag-input [SourceData]="SelectData"></tag-input>
            </div>
          </div> -->
          <div class="form-group row"> 
              <div class="col-md-12">
                  Tag Select 参数说明：<br/>
                  SelectList(整理过後的选单项目)<br/>
                  SelectedData(预设值 阵列型别) 若预设值内选单项目mapping不到，会自动新增选项<br/>
                  GetSelected($event) (值异动时回呼事件)
              </div>
          </div>
        
          <div class="form-group row">
            <label class="col-md-3 col-form-label">
              Tag Select 范例<br/> (可随便输入新增)
            </label>
            <div class="col-md-9"> 
                <tag-input [Selected]="mainForm.get('tag')" [DataList]="SelectList"></tag-input>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">
              Tag Select 范例<br/> (不可随便输入新增)
            </label>
            <div class="col-md-9"> 
                <tag-input [Selected]="mainForm.get('tag2')" [DataList]="SelectList" [Create]="false"></tag-input>
            </div>
          </div>
          
          <div class="form-group row">
              <label class="col-md-3 col-form-label">日期选择器(栏位用)<br/>(只适用formControl) </label>
              <div class="col-md-9">
                <input type="text" class="form-control" formControlName="demoDate" datePicker/>
              </div>
          </div>



          <div class="form-group row">
            <label class="col-md-3 col-form-label">HtmlEdit</label>
            <div class="col-md-9">
              <html-edit [Source]="mainForm.get('html')"></html-edit>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 col-form-label">HtmlTableEdit</label>
            <div class="col-md-9">
              <html-table [Source]="mainForm.get('htmltable')"></html-table>
            </div>
          </div>

          <div class="form-group row">
              <label class="col-md-3 col-form-label">单档 Image Upload(空值)<br/>(只适用formControl)</label>
              <div class="col-md-9">
                <file-upload  [Source]="mainForm.get('img')"></file-upload>
              </div>
           </div>

           <div class="form-group row">
              <label class="col-md-3 col-form-label">单档 Image Upload(有值)<br/>(只适用formControl)</label>
              <div class="col-md-9">
                <file-upload  [Source]="mainForm.get('img2')"></file-upload>
              </div>
           </div>

           <div class="form-group row">
              <label class="col-md-3 col-form-label">单档 PDF Upload(空值)<br/>(只适用formControl)</label>
              <div class="col-md-9">
                <file-upload  [Source]="mainForm.get('pdf')" [Type]="'pdf'"></file-upload>
              </div>
           </div>

          <div class="form-group row">
              <label class="col-md-3 col-form-label">
                  <button type="submit" class="btn btn-sm btn-primary mr-15">检视结果</button>
              </label>
              <div class="col-md-9">
                {{display | json}}
              </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 col-form-label">
              <div class="btn btn-sm btn-primary mr-15" (click)="EditAlbum()">相簿编辑</div>
            </label>
          </div>

          <div class="form-group row">
            <label class="col-md-3 col-form-label">
              <div class="btn btn-sm btn-primary mr-15" (click)="MultiEdit()">项目编辑</div>
            </label>
          </div>

        </form>
      </div>
    </div>
</div>
  
