<!-- 列表页 -->
<div class="animated fadeIn" *ngIf="!isEditor">
  <div class="card">
    <div class="card-header">
      保險銷售管理
    </div>

    <div class="card-body">

      <div class="row">
        <div class="form-group col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-search"></i></span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="query.keyword" 
            placeholder="搜寻保单号码、要保人ID、渠道、要保人、保险名称"/>
          </div>
        </div>

        <div class="form-group col-md-6" *ngIf="Options.InsStatus.length > 0">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">保单状态</span>
            </div>
            <select class="form-control" [(ngModel)]="query.Status">
              <option [value]="''">请选择</option>
              <option *ngFor="let istatus of Options.InsStatus" [value]="istatus.OptionValue">{{istatus.Name}}</option>
            </select>
          </div>
        </div>

      </div>

      <div class="row">
        
        <div class="form-group col-md-6">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">保障期间</span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="query.validStart" datePickerNgModel/>
                <span class="dayTo">~</span>
                <input type="text" class="form-control" [(ngModel)]="query.validEnd" datePickerNgModel/>
              </div>
        </div>
 
         <div class="form-group col-md-6">
           <div class="input-group">
             <div class="input-group-prepend">
               <span class="input-group-text">建立时间</span>
             </div>
             <input type="text" class="form-control" [(ngModel)]="query.startDate" datePickerNgModel/>
             <span class="dayTo">~</span>
             <input type="text" class="form-control" [(ngModel)]="query.endDate" datePickerNgModel/>
           </div>
         </div>
 
       </div>

      <div class="row">
        <div class="col-md-12 form-group">
          <button type="button" style="margin-right: 10px" class="btn btn-primary" (click)="Submit()"><i class="fa fa-dot-circle-o"></i> 送出查询</button>
          <button type="reset" class="btn btn-primary btn-danger" (click)="Reset()"><i class="fa fa-ban"></i> 清除</button>
          <button type="button" style="margin-left: 10px" class="btn btn-success" (click)="Export()"><i class="fa fa-print"></i> 汇出</button>
          <button type="button" litmit="B11,add" style="margin-left: 10px" class="btn btn-warning" (click)="Import()"><i class="fa fa-print"></i> 汇入</button>
          <button type="button" litmit="B11,add" style="margin-left: 10px" class="btn" (click)="Sample()"><i class="fa fa-print"></i> 汇入範本下載</button>
        </div>
      </div>

      <div class="form-group float-right">
        <button type="button" style="margin-right: 10px" class="btn btn-primary btn-outline-success active" (click)="Create()" litmit="B11,add">新增</button>
      </div>

      <datatable [Source]="list" [Setting]="tableSet"></datatable>

    </div>
  </div>
</div>

<!-- 编辑页 -->
<div class="animated fadeIn" *ngIf="isEditor">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-6">
          保險銷售管理 / <strong>{{mainForm.get('ID').value == null ? '新增' : '编辑'}}</strong>
        </div>
        <div class="col-md-6" style="text-align: right;">
          <button type="button" class="btn btn-sm btn-success" (click)="Cancel()"><i class="fa fa-chevron-left"></i>返回</button>
        </div>
      </div>
    </div>

    <form class="form-horizontal" [formGroup]="mainForm" (ngSubmit)="SubmitForm()">

      <div class="card-body">
        <div class="form-group row">
          <label class="col-md-3 col-form-label">保单号码<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="InsNo"/>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('InsNo').valid || mainForm.get('InsNo').pristine">
                必填
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">要保人ID<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="UserIdentityNo"/>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('UserIdentityNo').valid || mainForm.get('UserIdentityNo').pristine">
                必填
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row" *ngIf="Options.channelList.length > 0">
          <label class="col-md-3 col-form-label">所属渠道</label>
          <div class="col-md-9">
            <tag-input [Selected]="mainForm.get('Channel')" [DataList]="Options.channelList" [Create]="false"></tag-input>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">要保人<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="BuyerName"/>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('BuyerName').valid || mainForm.get('BuyerName').pristine">必填</span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">被保险人<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="BenefitName"/>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('BenefitName').valid || mainForm.get('BenefitName').pristine">必填</span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">负责业务姓名</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="SaleName"/>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label">负责业务联络电话</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="SalePhone"/>
          </div>
        </div>

        <div class="form-group row" *ngIf="Options.Insurance.length > 0">
          <label class="col-md-3 col-form-label">保險名称<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <select class="form-control" formControlName="InsID">
              <option [value]="''">请选择</option>
              <option *ngFor="let ins of Options.Insurance" [value]="ins.ID">{{ins.Name}}</option>
            </select>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('InsID').valid || mainForm.get('InsID').pristine">
                必填
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">人身保险<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="InsSortName" readonly="readonly"/>
          </div>
        </div>

        <div class="form-group row" *ngIf="Options.InsStatus.length > 0">
          <label class="col-md-3 col-form-label">保单状态<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <select class="form-control" formControlName="InsStatus">
              <option [value]="''">請選擇</option>
              <option *ngFor="let istatus of Options.InsStatus" [value]="istatus.OptionValue">{{istatus.Name}}</option>
            </select>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('InsStatus').valid || mainForm.get('InsStatus').pristine">必填</span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">保单生效日</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="ValidDate" datePicker/>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('ValidDate').valid || mainForm.get('ValidDate').pristine">必填</span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">保障期间(起)</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="ValidStart" datePicker/>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('ValidStart').valid || mainForm.get('ValidStart').pristine">必填</span>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label">保障期间(訖)</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="ValidEnd" datePicker/>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('ValidEnd').valid || mainForm.get('ValidEnd').pristine">必填</span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">缴费年期<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="PayPeriod"/>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('PayPeriod').valid || mainForm.get('PayPeriod').pristine">必填</span>
            </div>
          </div>
        </div>


        <div class="form-group row" *ngIf="Options.PayType.length > 0">
          <label class="col-md-3 col-form-label">缴别<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <select class="form-control" formControlName="PayType">
              <option [value]="''">请选择</option>
              <option *ngFor="let ptype of Options.PayType" [value]="ptype.OptionValue">{{ptype.Name}}</option>
            </select>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('PayType').valid || mainForm.get('PayType').pristine">必填</span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">保单币别<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="Currency"/>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('Currency').valid || mainForm.get('Currency').pristine">必填</span>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label">保单币别(英文)<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="CurrencyEn"/>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('CurrencyEn').valid || mainForm.get('CurrencyEn').pristine">必填</span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">保费金额<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <input type="number" class="form-control" formControlName="Amount"/>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('Amount').valid || mainForm.get('Amount').pristine">必填</span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">保险金额<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <input type="number" class="form-control" formControlName="InsAmount"/>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('InsAmount').valid || mainForm.get('InsAmount').pristine">必填</span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">保障内容</label>
          <div class="col-md-9">
              <div class="btn btn-sm btn-primary mr-15" (click)="SetProc('InsContent')">编辑保障内容</div>
              <div class="btn btn-sm btn-primary" (click)="SetProc('InsContentEn')">编辑保障内容英文</div>
          </div>
        </div>
        <!-- <div class="form-group row">
          <label class="col-md-3 col-form-label">保障内容</label>
          <div class="col-md-9">
            <html-edit [Source]="mainForm.get('InsContent')"></html-edit>
          </div>
        </div> -->

        <!-- <div class="form-group row">
          <label class="col-md-3 col-form-label">保障内容(英文)</label>
          <div class="col-md-9">
            <html-edit [Source]="mainForm.get('InsContentEn')"></html-edit>
          </div>
        </div> -->

        <div class="form-group row">
          <label class="col-md-3 col-form-label">备注事项</label>
          <div class="col-md-9">
            <html-edit [Source]="mainForm.get('InsNote')"></html-edit>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">备注事项(英文)</label>
          <div class="col-md-9">
            <html-edit [Source]="mainForm.get('InsNoteEn')"></html-edit>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">发布商品建议书</label>
          <div class="col-md-9">
            <file-upload  [Source]="mainForm.get('Recommend')" [Type]="'pdf'"></file-upload>
          </div>
        </div>

       <div class="form-group row">
        <label class="col-md-3 col-form-label">发布要保书</label>
        <div class="col-md-9">
          <file-upload  [Source]="mainForm.get('DealFile')" [Type]="'pdf'"></file-upload>
        </div>
       </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">备注</label>
          <div class="col-md-9">
            <textarea type="text" class="form-control" rows="6" formControlName="Note"></textarea>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">建立时间</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="CreateDate" placeholder="" />
          </div>
        </div>
      </div>

      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary mr-15" [disabled]="!mainForm.valid" litmit="B11,add"><i class="fa fa-dot-circle-o"></i> 确认送出</button>
        <button type="submit" class="btn btn-sm btn-primary mr-15" [disabled]="!mainForm.valid" litmit="B11,edit"><i class="fa fa-dot-circle-o"></i> 确认送出</button>

        <button *ngIf="mainForm.get('ID').value != null" type="button" class="btn btn-sm btn-danger mr-15" (click)="Delete()" litmit="B11,delete"><i class="fa fa-dot-circle-o"></i>删除</button>
        <button type="button" class="btn btn-sm btn-secondary" (click)="Cancel()"><i class="fa fa-ban"></i> 取消</button>
      </div>

    </form>

  </div>
</div>
