<!-- 物件基本资料页 -->
<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-6">
        地产销售基本资料
      </div>
      <div class="col-md-6" style="text-align: right;">
        <button type="button" class="btn btn-sm btn-success" (click)="ReturnB04()"><i class="fa fa-chevron-left"></i>返回列表</button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">購買人ID: <strong>{{tempEstateSale.UserIdentityNo}}</strong></div>
      <div class="col-md-4">購買人姓名: <strong>{{tempEstateSale.BuyerName}}</strong></div>
      <div class="col-md-4">購買總價: <strong>{{tempEstateSale.PriceSum}}</strong></div>
    </div>
    <div class="row">
      <div class="col-md-8">物件名稱: <strong>{{tempEstateSale.EstateObjName}}</strong></div>
      <div class="col-md-4">房型: <strong>{{tempEstateSale.EstateRoomName}}</strong></div>
      <div class="col-md-12">物件ID: <strong>{{tempEstateSale.EstateNo}}</strong></div>
    </div>
  </div>
</div>

<!-- 列表页 -->
<div class="animated fadeIn" *ngIf="!isEditor">
  <div class="card">
    <div class="card-header">
      每月收益管理
    </div>

    <div class="card-body">

      <div class="row">
        <div class="form-group col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">撥款日期</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="query.payStartDate" datePickerNgModel/>
            <span class="dayTo">~</span>
            <input type="text" class="form-control" [(ngModel)]="query.payEndDate" datePickerNgModel/>
          </div>
        </div>
        <div class="form-group col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">建立时间</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="query.startDate" datePickerNgModel/>
            <span class="dayTo">~</span>
            <input type="text" class="form-control" [(ngModel)]="query.endDate" datePickerNgModel/>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 form-group">
            <button type="button" style="margin-right: 10px" class="btn btn-primary" (click)="Submit()"><i class="fa fa-dot-circle-o"></i> 送出查询</button>
            <button type="reset" class="btn btn-primary btn-danger" (click)="Reset()"><i class="fa fa-ban"></i> 清除</button>
            <button type="button" style="margin-left: 10px" class="btn btn-success" (click)="Export()"><i class="fa fa-print"></i> 汇出</button>
            <button type="button" litmit="B05,add" style="margin-left: 10px" class="btn btn-warning" (click)="Import()"><i class="fa fa-print"></i> 汇入</button>
            <button type="button" litmit="B05,add" style="margin-left: 10px" class="btn" (click)="Sample()"><i class="fa fa-print"></i> 汇入範本下載</button>
        </div>
      </div>

      <div class="form-group float-right">
        <button type="button" style="margin-right: 10px" class="btn btn-primary btn-outline-success active" (click)="Create()" litmit="B05,add">新增</button>
      </div>

      <datatable [Source]="list" [Setting]="tableSet"></datatable>

    </div>
  </div>
</div>

<!-- 编辑页 -->
<div class="animated fadeIn" *ngIf="isEditor">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-6">
          每月收益管理 / <strong>{{mainForm.get('ID').value == null ? '新增' : '编辑'}}</strong>
        </div>
        <div class="col-md-6" style="text-align: right;">
          <button type="button" class="btn btn-sm btn-success" (click)="Cancel()"><i class="fa fa-chevron-left"></i>返回</button>
        </div>
      </div>
    </div>

    <form class="form-horizontal" [formGroup]="mainForm" (ngSubmit)="SubmitForm()">

      <div class="card-body">
        <div class="form-group row">
          <label class="col-md-3 col-form-label">類型</label>
          <div class="col-md-9">
            <select class="form-control" formControlName="CharterType">
              <option [value]="''">请选择</option>
              <option *ngFor="let item of charterType;" [value]="item.OptionValue">{{item.Name}}</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">租客姓名</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="RenterName"/>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">租客性別</label>
          <div class="col-md-9 col-form-label">
            <div class="form-check float-left mr-15">
              <input class="form-check-input" type="radio" id="chkMale" [value]="'male'" formControlName="RenterGender" />
              <label class="form-check-label" for="chkMale">男</label>
            </div>
            <div class="form-check float-left mr-15">
              <input class="form-check-input" type="radio" id="chkFemale" [value]="'female'" formControlName="RenterGender" />
              <label class="form-check-label" for="chkFemale">女</label>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">租客ID/護照</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="RenterIdNo"/>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">租客生日</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="RenterBirth" datePicker/>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">收款日期</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="IncomeDate" datePicker/>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">撥款日期</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="PayDate" datePicker/>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">收入金額</label>
          <div class="col-md-9">
            <input type="number" class="form-control" formControlName="Income"/>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">支出金額</label>
          <div class="col-md-9">
            <input type="number" class="form-control" formControlName="Expense"/>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">撥款狀態</label>
          <div class="col-md-9">
            <select class="form-control" formControlName="PayStatus">
              <option [value]="''">请选择</option>
              <option *ngFor="let item of payStatus;" [value]="item.OptionValue">{{item.Name}}</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">明細</label>
          <div class="col-md-9">
            <file-upload  [Source]="mainForm.get('PdfFile')" [Type]="'pdf'"></file-upload>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">備註</label>
          <div class="col-md-9">
            <textarea type="text" class="form-control" rows="6" formControlName="Note"></textarea>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">建立时间</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="CreateDate" placeholder="" />
          </div>
        </div>
      </div>

      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary mr-15" [disabled]="!mainForm.valid" litmit="B05,edit"><i class="fa fa-dot-circle-o"></i> 确认送出</button>
        <button type="submit" class="btn btn-sm btn-primary mr-15" [disabled]="!mainForm.valid" litmit="B05,add"><i class="fa fa-dot-circle-o"></i> 确认送出</button>
        <button *ngIf="mainForm.get('ID').value != null" type="button" class="btn btn-sm btn-danger mr-15" (click)="Delete()" litmit="B05,delete"><i class="fa fa-dot-circle-o"></i>删除</button>
        <button type="button" class="btn btn-sm btn-secondary" (click)="Cancel()"><i class="fa fa-ban"></i> 取消</button>
      </div>

    </form>

  </div>
</div>
