// Here you can add other styles
body{
    font-family: 'PingFang SC','Microsoft YaHei','Microsoft JhengHei';
}
.loginbg{
    background-image: url('../assets/img/login_bg.jpg');
    min-height: 100vh;background-size: cover;margin-top:0 !important;
}

/* for pop up start*/
.loading {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background: rgba(255, 255, 255, 0.55);
    background-size: 40%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    z-index: 9999;
}
.loading span.icon {
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    background-image: url('../assets/img/loading.gif');
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 99;
    left: 50vw;
    margin-left: -50px;
    top:50vh;
    margin-top: -50px;
    font-family: 'Microsoft JhengHei'
}

.pop_mask{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0;left: 0;
    background: rgba(0, 0, 0, 0.65);
    z-index: 1000;
    display: table;
}
.pop_block{
    display: inline-block;
    width: 90vw;
    background: #F6F6F6;
    border-radius: 5px;
    max-width: 450px;
}

.pop_mid{
    text-align: center;
    display: table-cell;
    vertical-align:middle;
}
.pop_block h3{
    font-weight: normal;
    margin: 0;
    height: 45px;
    line-height: 45px;
    background: #009999;
    color: #fff;
    border-radius: 5px 5px 0px 0px;
}
.pop_content{
    // max-height: 70vh;
    padding:15px;
}
.pop_content input[type=text], .pop_content input[type=password]{
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    width: 100%;
    margin:10px 0;
    padding: 5px;
}
.btn_group{display: flex;}
.btn_group div{cursor: pointer;}
.btn_group div:hover{background-color: #EAEAEA}
.btn_group div:nth-child(2){
    border-left:  1px solid #ddd;
}
.check,.cancel{
    border-top:  1px solid #ddd;
    flex:1;
    line-height: 45px;height: 45px;
}


.date_title{
    font-weight: bold;
    color: #17958D;
    font-size: 0.88rem;
    padding: 0.5rem;
    padding-top: 0;
}
.date_bar .arrow_left{
    float:left;width: 35px;height: 32px;
    background-image: url('assets/img/arrow_left.png');
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.date_bar .arrow_left.disable{
    background-image: url('assets/img/arrow_left_disabled.png');
}
.date_bar .arrow_right{
    float:right;width: 35px;height: 32px;
    background-image: url('assets/img/arrow_right.png');
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.date_bar .arrow_right.disable{
    background-image: url('assets/img/arrow_right_disabled.png');
}
.date_bar select{
    font-size:0.9rem;
    padding: 5px;
    background: #F5F5F5;
    border-radius: 5px;
    width: 30%;
}
.time_title{
    padding-bottom: 1rem;
    font-weight: bold;
    color: #17958D;
    font-size: 0.88rem;
}
.time_bar{
    padding-bottom: 1rem;
}
.time_bar label{
  width: 33.3%;
}
.time_bar input{
    width: 3rem;
    text-align: center;
    border: 1px solid #CCC;
    font-size:0.9rem;
    padding: 5px;
    background: #F5F5F5;
    border-radius: 5px;
}

.calendar_area{
    padding: 10px 0 0 0;
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -WEBKIT-flex; 
    display: flex;
    -WEBKIT-flex-flow: wrap;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
}
.calendar_area div{
    font-size:14px;
    -WEBKIT-flex-basis: 14%;
        -ms-flex-basis: 14%;
            flex-basis: 14%;
    text-align:center;
    -WEBKIT-flex-grow: 1;
        -ms-flex-grow: 1;
            flex-grow: 1;
    line-height:40px;
    cursor: pointer;
}

.calendar_area div span{color:#000;display:block}
.calendar_area div.disable span{color:#959595;display:block}
.calendar_area div span.active{
    background: #17958D;color:#fff;
    border-radius: 5px;
    height: 100%;border-radius: 100%;
}
.calendar_area span.week{
  cursor: default;
  font-weight: bold;
  color:#bbbbbb;
  font-size: 1rem;
}
.calendar_area div:before {
    content:'';
    float:left;
    padding-top:100%;
}
.calendar_area div span.disable {
    background: rgba(0, 0, 0, 0);
    color:#cccccc;
}

.date_area .footer_bar{text-align: right;}

.help-block,.redpoint{color:red;}

.ml-15{margin-left: 15px;}
.mr-15{margin-right: 15px;}

.app-header .navbar-brand{
    cursor:inherit !important;
}

.sidebar .nav-item{border-bottom:1px solid #474747;}

footer{position: fixed;width: 100%;bottom: 0;}

.fileupd img{height:60px;}
.fileupd div{display: inline-block;border: 1px solid #ccc;cursor: pointer;padding: 0.2rem 0.5rem;margin-left: 1rem;}
.fileupd i{font-size: 1.75rem;color:red;}

//sort
.table tr th.empty{
    cursor: pointer;
    background-image:url("assets/img/arrow_empty.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 15px;
}
.table tr th.down{
    cursor: pointer;
    background-image:url("assets/img/arrow_up.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 15px;
}
.table tr th.up{
    cursor: pointer;
    background-image:url("assets/img/arrow_down.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 15px;
}

// sroll bar
::-webkit-scrollbar {
width: 5px;
}
::-webkit-scrollbar-track {
-webkit-border-radius: 10px;
border-radius: 10px;
margin:80px 0 5px 0;
}
::-webkit-scrollbar-thumb {
-webkit-border-radius: 4px;
border-radius: 4px;
background: #B8B8B8;
}

 .dayTo{
    width: 36px;
    text-align: center;
    line-height: 33px;
    border-top: 1px solid #E4E7EA;
    border-bottom: 1px solid #E4E7EA;
 }

 .shadow_bg{
     position: fixed;top:0;left: 0;
     width: 100vw;height: 100vh;
 }

 .card-footer button[type="submit"]:nth-child(2){
     display: none;
 }

 .card-body{
     overflow-x: scroll;
     overflow-y:hidden;
 }

 .table th, .table td{
     word-break: break-word;
 }


 /*table design*/
 table.tset {
border-collapse: collapse;
font-size: 0.92rem;
}

table.tset,table.tset th,table.tset td {
border: 1px solid #E0E0E0;padding: 0.5rem;font-weight: normal;
}
table.tset th{
    background:#CACED8;color:#fff;
}
table.tset td{
    padding: 0.25rem;background:#FFFFFF;color:#383537;
}
table.tset tr:nth-child(2n) td{
    padding: 0.25rem;background:#FBFBFD;
}
table.tset tr td:first-child{
    text-align: center;vertical-align: middle;
}

.ql-editor span.ql-size-large{font-size: 1.15rem;}