﻿  body{
    padding: 0;margin: 0;
    background-image: url('../images/login_bg.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
   font-family: Microsoft JhengHei;
  }
.version {
    color: #fff;
    font-size: 2rem;
    width: 100vw;
    height: 100vh;
    line-height: 100vh;
    text-align:center;
}
  .msgbox{
    position: relative;
    background: rgb(242, 242, 242);
    border:2px solid #eee;
    border-radius:10px;
    width:80vw;
    height:16vh;
    top:50vh;
    margin: auto;
    margin-top: -8vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width:768px;
  }
  .msgbox span{
    line-height: 16vh;
    padding-left: 22vw;
    font-size:18px;
  }

  .success.msgbox{
    background: url('../images/success.png');
    background-size: 12%;
    background-repeat: no-repeat;
    background-position: 7% 50%;
    background-color:aliceblue;
  }
  .success span{color:green;}

  .fail.msgbox{
    background: url('../images/fail.png');
    background-size: 12%;
    background-repeat: no-repeat;
    background-position: 7% 50%;
    background-color:aliceblue;
  }
  .fail span{color:red;}

  .reset{
    position: relative;
    background: rgb(242, 242, 242);
    border:2px solid #eee;
    border-radius:10px;
    width:76vw;
    padding:2vw;
    top:50vh;
    margin: auto;
    margin-top: -26vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 560px;
  }
  .reset input{padding:15px 3%;display: block;width:92%;margin-top:2vw;border:1px solid #eee;border-radius:10px; max-width: 720px;}
  .reset button{padding:15px 3%;width:100%;margin-top:4vw;border:1px solid #eee;border-radius:10px;background: green;color:#fff; max-width: 720px;}