

<app-loading></app-loading>

<div class="app-body loginbg">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">

                <form #loginform="ngForm" (ngSubmit)="DoLogIn()">
                  
                  <h1>Titan Stone</h1>
                  <p class="text-muted">后台管理系统</p>
                  
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" name="mail" [(ngModel)]="userdata.Act" class="form-control" placeholder="帐号" required #name="ngModel">
                    <div class="col-md-12"><span [hidden]="name.valid || name.pristine" class="help-block">帐号栏位为必填</span></div>
                  </div>

                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" name="password" [(ngModel)]="userdata.Pwd" class="form-control" placeholder="密码" required #pwd="ngModel">
                    <div class="col-md-12"><span [hidden]="pwd.valid || pwd.pristine" class="help-block">密码栏位为必填</span></div>
                  </div>

                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text">登入類別</span>
                    </div>
                    <select class="form-control" [(ngModel)]="userdata.Type" name="type" #type="ngModel">
                       <option [value]="'admin'">系統管理</option>
                       <option [value]="'channel'">业务/渠道</option>
                    </select>
                    <div class="col-md-12"><span [hidden]="errorMsg == ''" class="help-block">{{errorMsg}}</span></div>
                  </div>

                  <div class="form-group">
                      <!-- <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="keep" [(ngModel)]="userdata.keep" id="keep"/>
                        <label class="custom-control-label" for="keep">保持登入（1天）</label>
                      </div> -->
                  </div>
                
                  <div class="row">
                    <div class="col-12 text-right">
                        <button type="submit" class="btn btn-primary px-4" [disabled]="!loginform.form.valid">登入</button>
                      <!-- <button type="button" class="btn btn-link px-0">忘记密码?</button> -->
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
