<!-- 列表页 -->
<div class="animated fadeIn" *ngIf="!isEditor">
  <div class="card">
    <div class="card-header">
      会员资料管理
    </div>

    <div class="card-body">

      <div class="row">
        <div class="form-group col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-search"></i></span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="query.keyword" placeholder="搜寻帐号、姓名、身分证ID、国籍、渠道"/>
          </div>
        </div>
        <div class="form-group col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">建立时间</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="query.startDate" datePickerNgModel/>
            <span class="dayTo">~</span>
            <input type="text" class="form-control" [(ngModel)]="query.endDate" datePickerNgModel/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">国籍</span>
            </div>
            <select class="form-control" [(ngModel)]="query.country">
              <option [value]="''">请选择</option>
              <option *ngFor="let item of countries;" [value]="item.OptionValue">{{item.Name}}</option>
            </select>
          </div>
        </div>
        <div class="form-group col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">所属渠道</span>
            </div>
            <select class="form-control" [(ngModel)]="query.channel">
              <option [value]="''">请选择</option>
              <option *ngFor="let item of ChannelList;" [value]="item.value">{{item.name}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Email验证</span>
            </div>
            <select class="form-control" [(ngModel)]="query.valid">
              <option [value]="''">请选择</option>
              <option [value]="true">已验证</option>
              <option [value]="false">未验证</option>
            </select>
          </div>
        </div>
        <div class="form-group col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">状态</span>
            </div>
            <select class="form-control" [(ngModel)]="query.status">
              <option [value]="''">请选择</option>
              <option [value]="true">启用</option>
              <option [value]="false">停用</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 form-group">
          <button type="submit" style="margin-right: 10px" class="btn btn-primary" (click)="Submit()"><i class="fa fa-dot-circle-o"></i> 送出查询</button>
          <button type="reset" class="btn btn-primary btn-danger" (click)="Reset()"><i class="fa fa-ban"></i> 清除</button>
          <button type="button" style="margin-left: 10px" class="btn btn-success" (click)="Export()"><i class="fa fa-print"></i> 汇出</button>
          <button type="button" litmit="B01,add" style="margin-left: 10px" class="btn btn-warning" (click)="Import()"><i class="fa fa-print"></i> 汇入</button>
          <button type="button" litmit="B01,add" style="margin-left: 10px" class="btn" (click)="Sample()"><i class="fa fa-print"></i> 汇入範本下載</button>
        </div>
      </div>

      <div class="form-group float-right">
        <button type="button" style="margin-right: 10px" class="btn btn-primary btn-outline-success active" (click)="Create()" litmit="B01,add">新增</button>       
      </div>

      <datatable [Source]="list" [Setting]="tableSet"></datatable>
      
    </div>
  </div>
</div>


<!-- 编辑页 -->
<div class="animated fadeIn" *ngIf="isEditor">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-6">
          会员资料管理 / <strong>{{mainForm.get('ID').value == null ? '新增' : '编辑'}}</strong>
        </div>
        <div class="col-md-6" style="text-align: right;">
          <button type="button" class="btn btn-sm btn-success" (click)="Cancel()"><i class="fa fa-chevron-left"></i>返回</button>
        </div>
      </div>
    </div>
  <!-- <div class="card">
    <div class="card-header">
      会员资料管理 / <strong>{{mainForm.get('ID').value == null ? '新增' : '编辑'}}</strong>
    </div> -->


    <form class="form-horizontal" [formGroup]="mainForm" (ngSubmit)="SubmitForm()">

      <div class="card-body">
        <div class="form-group row">
          <label class="col-md-3 col-form-label">ID</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="ID" readonly/>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">装置代码</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="DeviceId"/>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">帐号<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="Act" placeholder=""/>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('Act').valid || mainForm.get('Act').pristine">
                必填，Email格式
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">密码<span *ngIf="mainForm.get('ID').value == null" class="redpoint">*</span></label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="Pwd" placeholder="限制6-16位元，英文或数字"/>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('Pwd').valid || mainForm.get('Pwd').pristine">
                必填，限英文、数字，6-16个字元
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">Email验证</label>
          <div class="col-md-9 col-form-label">
            <div class="form-check float-left mr-15">
              <input class="form-check-input" type="radio" id="chkVerified" [value]="true" formControlName="Valid"/>
              <label class="form-check-label" for="chkVerified">已验证</label>
            </div>
            <div class="form-check float-left">
              <input class="form-check-input" type="radio" id="chkUnverified" [value]="false" formControlName="Valid"/>
              <label class="form-check-label" for="chkUnverified">尚未验证</label>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">姓名<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="Name" placeholder=""/>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('Name').valid || mainForm.get('Name').pristine">
                必填
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">ID/身分证号码</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="IdentityNo" placeholder=""/>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('IdentityNo').valid || mainForm.get('IdentityNo').pristine">
                必填
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">生日</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="Birth" datePicker/>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">国籍<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <div class="form-group">
              <select class="form-control" formControlName="Country">
                <option [value]="''">请选择国籍</option>
                <ng-container *ngFor="let ctype of countries">
                  <option [value]="ctype.OptionValue" >{{ctype.Name}}</option>
                </ng-container>
              </select>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">头像</label>
          <div class="col-md-9">
              <file-upload  [Source]="mainForm.get('ImageUrl')"></file-upload>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label">国码</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="PhonePrefix" placeholder=""/>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('PhonePrefix').valid || mainForm.get('PhonePrefix').pristine">
                必填
              </span>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label">联络电话</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="Phone" placeholder=""/>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('IdentityNo').valid || mainForm.get('IdentityNo').pristine">
                必填
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row" *ngIf="ChannelList">
          <label class="col-md-3 col-form-label">所属渠道</label>
          <div class="col-md-9">
              <tag-input [Selected]="mainForm.get('Channel')" [DataList]="ChannelList" [Create]="false"></tag-input>
              <!-- <input type="text" class="form-control" formControlName="Channel" placeholder=""/> -->
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">建立时间</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="CreateDate" placeholder=""/>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">状态</label>
          <div class="col-md-9 col-form-label">
            <div class="form-check float-left mr-15">
              <input class="form-check-input" type="radio" id="chkEnable" [value]="true" formControlName="Status"/>
              <label class="form-check-label" for="chkEnable">启用</label>
            </div>
            <div class="form-check float-left mr-15">
              <input class="form-check-input" type="radio" id="chkDisable" [value]="false" formControlName="Status"/>
              <label class="form-check-label" for="chkDisable">停用</label>
            </div>
          </div>
        </div>
      </div>

      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary mr-15" [disabled]="!mainForm.valid" litmit="B01,{{submitLimit}}"><i class="fa fa-dot-circle-o"></i> 确认送出</button>
        <button *ngIf="mainForm.get('ID').value != null" type="button" class="btn btn-sm btn-danger mr-15" (click)="Delete()" litmit="B01,delete"><i class="fa fa-dot-circle-o"></i>删除</button>
        <button type="button" class="btn btn-sm btn-secondary" (click)="Cancel()"><i class="fa fa-ban"></i> 取消</button>
      </div>

    </form>

  </div>
</div>
