
<style>
    .shadow_bg{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 9999;
    }
    .shadow_bg .album{
        width: 75vw;height: 60vh;
        position: relative;
        z-index: 10000;
    }
    .shadow_bg .album .card-body{
        height: 60vh;
        overflow-x:hidden;overflow-y: scroll;
    }
    .fileupload{display:inline-block;border: 1px solid #ddd;padding: 5px;cursor: pointer;margin-left: 10px;}
   
    .pic img{width: 100%;padding: 5px;}
    .pic .del{width: 30px;height: 30px;text-align: center;position: absolute;right: 0;background: #fff;
    border: 1px solid #ddd;border-radius: 27px;line-height: 30px;cursor: pointer;}
</style>
<div class="shadow_bg" *ngIf="open">
        <div class="album animated fadeIn">
                <div class="card">
                  <div class="card-header">
                    列表项目资料管理
                    
                    <button type="button" style="float:right;margin-left: 5px;" class="btn btn-primary btn-outline-success active" (click)="Save()">储存</button>
                    <button type="button" style="float:right;" class="btn btn-primary btn-outline-danger active" (click)="Cancel()">取消</button>
                  </div>
                  <div class="card-body">
                    <div class="raw">
                        
                            <table class="table" id="multiEdit">
                                <thead>
                                <tr>
                                    <th *ngIf="IconShow">Icon (40*40)</th>
                                    <ng-container *ngIf="IconShow">
                                        <th>标题</th>
                                    </ng-container>
                                    <ng-container *ngIf="!IconShow">
                                        <th *ngIf="header == null">時間</th>
                                        <th *ngIf="header != null">{{header[0]}}</th>
                                    </ng-container>

                                    <th *ngIf="header == null">内容</th>
                                    <th *ngIf="header != null">{{header[1]}}</th>

                                    <th style="width:6rem;">排序</th>
                                    <th style="width:4rem;">
                                        <button type="button" style="float:right;" class="btn btn-primary btn-outline-success active" (click)="Add()">新增一列</button>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngFor="let item of data; let _index = index">
                                        <tr>
                                            <td *ngIf="IconShow">
                                                <img-upload [Url]="item.img"></img-upload>
                                            </td>
                                            <td>
                                                <input type="text" name="title" class="form-control" value="{{item.title}}"/>
                                            </td>
                                            <td>
                                                <textarea type="text" name="desc" class="form-control" value="{{item.desc}}"></textarea>
                                            </td>
                                            <td style="width:6rem;">
                                                <input style="width:4rem;" type="number" name="order" class="form-control" value="{{item.order}}"/>
                                            </td>
                                            <td style="width:4rem;">
                                                <button type="button" style="float:right;" class="btn btn-primary btn-outline-danger" (click)="Delete(_index)">
                                                        <i class="fa fa-close"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                    </div>
                  </div>
                </div>
        </div>
</div>
