<!-- 物件基本资料页 -->
<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-6">
        基金销售基本资料
      </div>
      <div class="col-md-6" style="text-align: right;">
        <button type="button" class="btn btn-sm btn-success" (click)="ReturnB09()"><i class="fa fa-chevron-left"></i>返回列表</button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">基金名称: <strong>{{tempFundsSale.FundsName}}</strong></div>
      <div class="col-md-6">基金单号: <strong>{{tempFundsSale.FundsNo}}</strong></div>
    </div>
    <div class="row">
      <div class="col-md-6">购买人姓名: <strong>{{tempFundsSale.BuyerName}}</strong></div>
      <div class="col-md-6">购买人ID: <strong>{{tempFundsSale.UserIdentityNo}}</strong></div>
    </div>
  </div>
</div>

<!-- 列表页 -->
<div class="animated fadeIn" *ngIf="!isEditor">
  <div class="card">
    <div class="card-header">
      基金交易明细管理
    </div>

    <div class="card-body">

      <div class="row">
        <div class="form-group col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-search"></i></span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="query.keyword" placeholder="搜寻交易單號"/>
          </div>
        </div>
        <div class="form-group col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">交易类型</span>
            </div>
            <select class="form-control" [(ngModel)]="query.txnType">
              <option [value]="''">请选择</option>
              <option [value]="'1'">申購</option>
              <option [value]="'2'">贖回</option>
              <option [value]="'3'">分紅</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">申购淨值</span>
            </div>
            <input type="number" class="form-control" [(ngModel)]="query.purchaseMin"/>
            <span class="dayTo">~</span>
            <input type="number" class="form-control" [(ngModel)]="query.purchaseMax"/>
          </div>
        </div>
        <div class="form-group col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">赎回淨值</span>
            </div>
            <input type="number" class="form-control" [(ngModel)]="query.redemptionMin"/>
            <span class="dayTo">~</span>
            <input type="number" class="form-control" [(ngModel)]="query.redemptionMax"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">交易日期</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="query.txnStartDate" datePickerNgModel/>
            <span class="dayTo">~</span>
            <input type="text" class="form-control" [(ngModel)]="query.txnEndDate" datePickerNgModel/>
          </div>
        </div>
        <div class="form-group col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">建立时间</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="query.startDate" datePickerNgModel/>
            <span class="dayTo">~</span>
            <input type="text" class="form-control" [(ngModel)]="query.endDate" datePickerNgModel/>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 form-group">
            <button type="button" style="margin-right: 10px" class="btn btn-primary" (click)="Submit()"><i class="fa fa-dot-circle-o"></i> 送出查询</button>
            <button type="reset" class="btn btn-primary btn-danger" (click)="Reset()"><i class="fa fa-ban"></i> 清除</button>
            <button type="button" style="margin-left: 10px" class="btn btn-success" (click)="Export()"><i class="fa fa-print"></i> 汇出</button>
            <button type="button" litmit="B10,add" style="margin-left: 10px" class="btn btn-warning" (click)="Import()"><i class="fa fa-print"></i> 汇入</button>
            <button type="button" litmit="B10,add" style="margin-left: 10px" class="btn" (click)="Sample()"><i class="fa fa-print"></i> 汇入範本下載</button>
        </div>
      </div>

      <div class="form-group float-right">
        <button type="button" style="margin-right: 10px" class="btn btn-primary btn-outline-success active" (click)="Create()" litmit="B10,add">新增</button>
      </div>

      <datatable [Source]="list" [Setting]="tableSet"></datatable>

    </div>
  </div>
</div>

<!-- 编辑页 -->
<div class="animated fadeIn" *ngIf="isEditor">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-6">
          基金交易明细管理 / <strong>{{mainForm.get('ID').value == null ? '新增' : '编辑'}}</strong>
        </div>
        <div class="col-md-6" style="text-align: right;">
          <button type="button" class="btn btn-sm btn-success" (click)="Cancel()"><i class="fa fa-chevron-left"></i>返回</button>
        </div>
      </div>
    </div>

    <form class="form-horizontal" [formGroup]="mainForm" (ngSubmit)="SubmitForm()">

      <div class="card-body">
        <div class="form-group row">
          <label class="col-md-3 col-form-label">交易类型<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <select class="form-control" formControlName="TxnType">
              <option [value]="''">请选择</option>
              <option [value]="'1'">申購</option>
              <option [value]="'2'">贖回</option>
              <option [value]="'3'">分紅</option>
            </select>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('TxnType').valid || mainForm.get('TxnType').pristine">
                必填
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row" [hidden]="mainForm.get('TxnType').value == '3'">
          <label class="col-md-3 col-form-label">交易单号<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="TxnNo"/>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('TxnNo').valid || mainForm.get('TxnNo').pristine">
                必填
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">交易日期<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="TxnDate" datePicker="full"/>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('TxnDate').valid || mainForm.get('TxnDate').pristine">
                必填
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row" [hidden]="mainForm.get('TxnType').value == '3'">
          <label class="col-md-3 col-form-label">单位数<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <input type="number" class="form-control" formControlName="Unit"/>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('Unit').valid || mainForm.get('Unit').pristine">
                必填
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row" [hidden]="mainForm.get('TxnType').value != '2'">
          <label class="col-md-3 col-form-label">赎回淨值<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <input type="number" class="form-control" formControlName="RedemptionVal"/>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('RedemptionVal').valid || mainForm.get('RedemptionVal').pristine">
                必填
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row" [hidden]="mainForm.get('TxnType').value != '2'">
          <label class="col-md-3 col-form-label">赎回总金额(不含手续费)<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <input type="number" class="form-control" formControlName="RedemptionAmt"/>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('RedemptionAmt').valid || mainForm.get('RedemptionAmt').pristine">
                必填
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row" [hidden]="mainForm.get('TxnType').value != '2'">
          <label class="col-md-3 col-form-label">绩效费</label>
          <div class="col-md-9">
            <input type="number" class="form-control" formControlName="PrefFee"/>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('PrefFee').valid || mainForm.get('PrefFee').pristine">
                必填
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row" [hidden]="mainForm.get('TxnType').value != '1'">
          <label class="col-md-3 col-form-label">申购淨值<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <input type="number" class="form-control" formControlName="PurchaseVal"/>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('PurchaseVal').valid || mainForm.get('PurchaseVal').pristine">
                必填
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row" [hidden]="mainForm.get('TxnType').value != '1'">
          <label class="col-md-3 col-form-label">申购金额(不含手续费)<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <input type="number" class="form-control" formControlName="PurchaseAmt"/>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('PurchaseAmt').valid || mainForm.get('PurchaseAmt').pristine">
                必填
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">手续费</label>
          <div class="col-md-9">
            <input type="number" class="form-control" formControlName="HandlingFee"/>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('HandlingFee').valid || mainForm.get('HandlingFee').pristine">
                必填
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row" [hidden]="mainForm.get('TxnType').value != '3'">
          <label class="col-md-3 col-form-label">分配金額<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <input type="number" class="form-control" formControlName="DividendAmt"/>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('DividendAmt').valid || mainForm.get('DividendAmt').pristine">
                必填
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row" [hidden]="mainForm.get('TxnType').value != '1'">
          <label class="col-md-3 col-form-label">缴费状态<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <select class="form-control" formControlName="PayStatus">
              <option [value]="''">请选择</option>
              <option [value]="'1'">本期未缴</option>
              <option [value]="'2'">本期已缴</option>
            </select>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('PayStatus').valid || mainForm.get('PayStatus').pristine">
                必填
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">备注</label>
          <div class="col-md-9">
            <textarea type="text" class="form-control" rows="6" formControlName="Note"></textarea>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">建立时间</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="CreateDate" placeholder="" />
          </div>
        </div>
      </div>

      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary mr-15" [disabled]="!mainForm.valid" litmit="B10,edit"><i class="fa fa-dot-circle-o"></i> 确认送出</button>
        <button type="submit" class="btn btn-sm btn-primary mr-15" [disabled]="!mainForm.valid" litmit="B10,add"><i class="fa fa-dot-circle-o"></i> 确认送出</button>
        <button *ngIf="mainForm.get('ID').value != null" type="button" class="btn btn-sm btn-danger mr-15" (click)="Delete()" litmit="B10,delete"><i class="fa fa-dot-circle-o"></i>删除</button>
        <button type="button" class="btn btn-sm btn-secondary" (click)="Cancel()"><i class="fa fa-ban"></i> 取消</button>
      </div>

    </form>

  </div>
</div>
