<div class="card">
  <div class="card-header">
    通知设定
  </div>

  <form class="form-horizontal" [formGroup]="mainForm" (ngSubmit)="SubmitForm()">

    <div class="card-body">
      <div class="form-group row">
        <label class="col-md-3 col-form-label">类型<span class="redpoint">*</span></label>
        <div class="col-md-9">
          <select class="form-control" formControlName="PType">
            <option [value]="''">请选择</option>
            <option *ngFor="let item of notice; let _index = index" [value]="item.OptionValue">{{item.Name}}</option>
            <!-- <option [value]="'2'">房租收款</option>
            <option [value]="'3'">物业产品</option>
            <option [value]="'4'">理财趋势</option>
            <option [value]="'5'">精选活动</option>
            <option [value]="'6'">官方消息</option>
            <option [value]="'7'">系统</option> -->
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-3 col-form-label">通知语言设定<span class="redpoint">*</span></label>
        <div class="col-md-9 col-form-label">
          <div class="form-check float-left mr-15">
            <input class="form-check-input" type="radio" id="LangCn" [value]="'zh_CN'" formControlName="Lang" />
            <label class="form-check-label" for="LangCn">中文</label>
          </div>
          <div class="form-check float-left mr-15">
            <input class="form-check-input" type="radio" id="LangEn" [value]="'en_US'" formControlName="Lang" />
            <label class="form-check-label" for="LangEn">英文</label>
          </div>
        </div>
      </div>

      <div class="form-group row" [hidden]="mainForm.get('Lang').value != 'zh_CN'">
        <label class="col-md-3 col-form-label">通知内容<span class="redpoint">*</span></label>
        <div class="col-md-9">
          <input type="text" class="form-control" formControlName="Detail"/>
          <div class="col-md-12">
            <span class="help-block" [hidden]="mainForm.get('Detail').valid || mainForm.get('Detail').pristine">
              必填
            </span>
          </div>
        </div>
      </div>

      <div class="form-group row" [hidden]="mainForm.get('Lang').value != 'en_US'">
        <label class="col-md-3 col-form-label">通知内容(英文)<span class="redpoint">*</span></label>
        <div class="col-md-9">
          <input type="text" class="form-control" formControlName="DetailEn"/>
          <div class="col-md-12">
            <span class="help-block" [hidden]="mainForm.get('DetailEn').valid || mainForm.get('DetailEn').pristine">
              必填
            </span>
          </div>
        </div>
      </div>


      <div class="form-group row">
        <label class="col-md-3 col-form-label">通知对象<span class="redpoint">*</span></label>
        <div class="col-md-9 col-form-label">
          <div class="form-check float-left mr-15" *ngIf="!HideAll">
            <input class="form-check-input" type="radio" id="chkAll" [value]="'1'" formControlName="TargetType" />
            <label class="form-check-label" for="chkAll">所有用户</label>
          </div>
          <div class="form-check float-left mr-15">
            <input class="form-check-input" type="radio" id="chkUser" [value]="'2'" formControlName="TargetType" />
            <label class="form-check-label" for="chkUser">会员用户</label>
          </div>
          <div class="form-check float-left mr-15">
            <input class="form-check-input" type="radio" id="chkCustom" [value]="'3'" formControlName="TargetType" />
            <label class="form-check-label" for="chkCustom">自订</label>
          </div>
        </div>
      </div>

      <div class="form-group row" [hidden]="mainForm.get('TargetType').value != '3'">
        <label class="col-md-3 col-form-label">装置代码<span class="redpoint">*</span></label>
        <div class="col-md-9">
          <input type="text" class="form-control" formControlName="DeviceIDs" placeholder="复数笔时，以逗号分隔" />
          <div class="col-md-12">
            <span class="help-block" [hidden]="mainForm.get('DeviceIDs').valid || mainForm.get('DeviceIDs').pristine">
              必填
            </span>
          </div>
        </div>
      </div>

    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-sm btn-primary mr-15" [disabled]="!mainForm.valid" litmit="E01,add"><i class="fa fa-dot-circle-o"></i> 确认送出</button>
      <button type="submit" class="btn btn-sm btn-primary mr-15" [disabled]="!mainForm.valid" litmit="E01,edit"><i class="fa fa-dot-circle-o"></i> 确认送出</button>
    </div>

  </form>

</div>
