<!-- 列表页 -->
<div class="animated fadeIn" *ngIf="!isEditor">
  <div class="card">
    <div class="card-header">
      基金商品管理
    </div>

    <div class="card-body">

      <div class="row">
        <div class="form-group col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-search"></i></span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="query.keyword" placeholder="搜寻基金名稱"/>
          </div>
        </div>
        <div class="form-group col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">基金類型</span>
            </div>
            <select class="form-control" [(ngModel)]="query.fundType">
              <option [value]="''">请选择</option>
              <option [value]="'1'">私募</option>
              <option [value]="'2'">避險</option>
              <option [value]="'3'">共同</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">申購方式</span>
            </div>
            <select class="form-control" [(ngModel)]="query.buyType">
              <option [value]="''">请选择</option>
              <option [value]="'1'">單筆</option>
              <option [value]="'2'">定期定額</option>
            </select>
          </div>
        </div>
        <div class="form-group col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">状态</span>
            </div>
            <select class="form-control" [(ngModel)]="query.status">
              <option [value]="''">请选择</option>
              <option [value]="true">启用</option>
              <option [value]="false">停用</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 form-group">
          <button type="button" style="margin-right: 10px" class="btn btn-primary" (click)="Submit()"><i class="fa fa-dot-circle-o"></i> 送出查询</button>
          <button type="reset" class="btn btn-primary btn-danger" (click)="Reset()"><i class="fa fa-ban"></i> 清除</button>
        </div>
      </div>

      <div class="form-group float-right">
        <button type="button" style="margin-right: 10px" class="btn btn-primary btn-outline-success active" (click)="Create()" litmit="C05,add">新增</button>
      </div>

      <datatable [Source]="list" [Setting]="tableSet"></datatable>

    </div>
  </div>
</div>

<!-- 编辑页 -->
<div class="animated fadeIn" *ngIf="isEditor">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-6">
          基金商品管理 / <strong>{{mainForm.get('ID').value == null ? '新增' : '编辑'}}</strong>
        </div>
        <div class="col-md-6" style="text-align: right;">
          <button type="button" class="btn btn-sm btn-success" (click)="Cancel()"><i class="fa fa-chevron-left"></i>返回</button>
        </div>
      </div>
    </div>

    <form class="form-horizontal" [formGroup]="mainForm" (ngSubmit)="SubmitForm()">

      <div class="card-body">
        <div class="form-group row">
          <label class="col-md-3 col-form-label">ID</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="ID" readonly/>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">基金名稱<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="Name"/>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('Name').valid || mainForm.get('Name').pristine">
                必填
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">基金類型<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <select class="form-control" formControlName="FundType">
              <option [value]="''">请选择</option>
              <option [value]="'1'">私募</option>
              <option [value]="'2'">避險</option>
              <option [value]="'3'">共同</option>
            </select>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('FundType').valid || mainForm.get('FundType').pristine">
                必填
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">申購方式<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <app-checkbox [Selected]="mainForm.get('BuyType')" [DataList]="buyTypeList"></app-checkbox>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('BuyType').valid || mainForm.get('BuyType').pristine">
                必填
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">建立时间</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="CreateDate" placeholder="" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">状态</label>
          <div class="col-md-9 col-form-label">
            <div class="form-check float-left mr-15">
              <input class="form-check-input" type="radio" id="chkEnable" [value]="true" formControlName="Status" />
              <label class="form-check-label" for="chkEnable">启用</label>
            </div>
            <div class="form-check float-left mr-15">
              <input class="form-check-input" type="radio" id="chkDisable" [value]="false" formControlName="Status" />
              <label class="form-check-label" for="chkDisable">停用</label>
            </div>
          </div>
        </div>
      </div>

      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary mr-15" [disabled]="!mainForm.valid" litmit="C05,add"><i class="fa fa-dot-circle-o"></i> 确认送出</button>
        <button type="submit" class="btn btn-sm btn-primary mr-15" [disabled]="!mainForm.valid" litmit="C05,edit"><i class="fa fa-dot-circle-o"></i> 确认送出</button>
        
        <button *ngIf="mainForm.get('ID').value != null" type="button" class="btn btn-sm btn-danger mr-15" (click)="Delete()" litmit="C05,delete"><i class="fa fa-dot-circle-o"></i>删除</button>
        <button type="button" class="btn btn-sm btn-secondary" (click)="Cancel()"><i class="fa fa-ban"></i> 取消</button>
      </div>
    </form>

  </div>
</div>
