<div class="animated fadeIn" *ngIf="!IsEditor">
  <div class="card">
    <div class="card-header">
      常见问题分类管理
    </div>

    <div class="card-body">

      <div class="row">

        <div class="form-group col-md-4">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-search"></i></span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="Query.keyword" placeholder="搜寻 分类名称" />
          </div>
        </div>

        <div class="form-group col-md-3">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">启用</span>
            </div>
            <select class="form-control" [(ngModel)]="Query.status" [disabled]="IsStatused">
              <option [value]="''">选择是否启用</option>
              <option [value]="true">已启用</option>
              <option [value]="false">未启用</option>
            </select>
          </div>
        </div>
        <!-- <div class="form-group col-md-5">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">起讫日期</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="Query.startdate" datePickerNgModel />
            <span class="dayTo">~</span>
            <input type="text" class="form-control" [(ngModel)]="Query.enddate" datePickerNgModel />
          </div>
        </div> -->

      </div>

      <div class="row">
        <div class="col-md-12 form-group">
          <button type="submit" style="margin-right: 10px" class="btn btn-primary" (click)="Submit()"><i
              class="fa fa-dot-circle-o"></i> 送出查询</button>
          <button type="reset" class="btn btn-primary btn-danger" (click)="Reset()"><i class="fa fa-ban"></i>
            清除</button>
        </div>
      </div>


      <div class="form-group float-right">
        <button type="button" style="margin-right: 10px" class="btn btn-primary btn-outline-success active"
          (click)="Create()" litmit="D05,add">新增</button>
      </div>


      <datatable [Source]="Data" [Setting]="TableSet"></datatable>

      <!-- <table class="table">
        <thead>
          <tr>
            <th>#</th> 
            <th>分类名称</th>
            <th>图片</th>
            <th>排序</th>
            <th>状态</th>
            <th></th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let item of PageData; let _index = index">
            <td>{{item.Name}}</td>
            <td> <img src={{item.ImageUrl}} class='col-md-2'></td>
            <td>{{item.OrderNo}}</td>
            <td>
              <span class="badge badge-success" *ngIf="item.Status">启用</span>
              <span class="badge badge-secondary" *ngIf="!item.Status">停用</span>
            </td>
            <th>
              <button type="button" style="margin-right: 15px;" class="btn btn-primary btn-outline-success float-right"
                (click)="Editor(item)">编辑</button>
            </th>
          </tr>

        </tbody>
      </table>


      <div class="row">
        <div class="col-md-8" style="text-align: center;padding-top: 5px;">
          显示第{{(Data.length == 0) ? 0 : (start + 1) }}
          到{{((end) > Data.length) ? Data.length : end}}项纪录，共计{{Data.length}}项纪录 每页显示
          <select [(ngModel)]="itemsPerPage" (change)="PerPageSet()">
            <option [value]="10">10</option>
            <option [value]="50">50</option>
            <option [value]="100">100</option>
          </select>
          项纪录
        </div>
        <div class="col-md-4">
          <pagination [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [maxSize]="6" [(ngModel)]="currentPage"
            (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;"></pagination>
        </div>
      </div>-->


    </div>

  </div>
</div>


<!-- 新增修改 -->
<div class="animated fadeIn" *ngIf="IsEditor">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-6">
          常见问题分类管理 / <strong>{{mainForm.get('ID').value == null ? '新增' : '编辑'}}</strong>
        </div>
        <div class="col-md-6" style="text-align: right;">
          <button type="button" class="btn btn-sm btn-success" (click)="Cancel()"><i
              class="fa fa-chevron-left"></i>返回</button>
        </div>
      </div>
    </div>
    <!-- <div class="card">
    <div class="card-header">
      常见问题分类管理 / <strong>{{mainForm.get('ID').value == null ? '新增' : '编辑'}}</strong>
    </div> -->


    <form class="form-horizontal" [formGroup]="mainForm" (ngSubmit)="FormSubmit()">


      <div class="card-body">

        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="hf-email">分类名称<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="Name" placeholder="请输入分类名称">
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('Name').valid || mainForm.get('Name').pristine">
                必填
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="hf-email">分类名称(英文)<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="NameEn" placeholder="请输入分类名称(英文)">
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('NameEn').valid || mainForm.get('NameEn').pristine">
                必填
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="hf-email">图片<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <file-upload [Source]="mainForm.get('ImageUrl')"></file-upload>
          </div>
          <span class="help-block" [hidden]="mainForm.get('ImageUrl').valid || mainForm.get('ImageUrl').pristine">
            必填 图片格式支援：.png、.jpg、.jpeg
          </span>
        </div>



        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="hf-email">排序<span class="redpoint">*</span></label>
          <div class="col-md-3">
            <input type="text" class="form-control" formControlName="OrderNo" placeholder="请输入 OrderNo" minlength="1"
              maxlength="10" required>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('OrderNo').valid || mainForm.get('OrderNo').pristine">
                必填 排序
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">状态<span class="redpoint">*</span></label>
          <div class="col-md-9 col-form-label">

            <div class="form-check float-left mr-15">
              <input class="form-check-input" type="radio" id="checkboxall" [value]="true" formControlName="Status" />
              <label class="form-check-label" for="checkboxall">启用中</label>
            </div>

            <div class="form-check float-left">
              <input class="form-check-input" type="radio" id="checkboxal2" [value]="false" formControlName="Status" />
              <label class="form-check-label" for="checkboxal2">停用中</label>
            </div>

          </div>
        </div>


      </div>

      <div class="card-footer">
        
        <button type="submit" class="btn btn-sm btn-primary mr-15" [disabled]="!mainForm.valid" litmit="D05,add"><i
            class="fa fa-dot-circle-o"></i> 确认送出</button>
        <button type="submit" class="btn btn-sm btn-primary mr-15" [disabled]="!mainForm.valid" litmit="D05,edit"><i
            class="fa fa-dot-circle-o"></i> 确认送出</button>
        <button type="button" class="btn btn-sm btn-danger mr-15" *ngIf="mainForm.get('ID').value != null"
          (click)="Delete()" litmit="D05,delete"><i class="fa fa-dot-circle-o"></i>删除</button>
        <button type="button" class="btn btn-sm btn-secondary" (click)="Cancel()"><i class="fa fa-ban"></i> 取消</button>
      </div>

    </form>

  </div>

</div>