<!-- 列表页 -->
<div class="animated fadeIn" *ngIf="!isEditor">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-6">
          投资意向管理
        </div>
        <div class="col-md-6" style="text-align: right;" *ngIf="query.UserId">
          <button type="button" class="btn btn-sm btn-success" (click)="ReturnB01()"><i class="fa fa-chevron-left"></i>返回列表</button>
        </div>
      </div>
    </div>

    <div class="card-body">

      <div class="row">
        <div class="form-group col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-search"></i></span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="query.keyword" placeholder="搜寻Email、姓名、身分证ID"/>
          </div>
        </div>
        <div class="form-group col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">更新时间</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="query.startDate" datePickerNgModel/>
            <span class="dayTo">~</span>
            <input type="text" class="form-control" [(ngModel)]="query.endDate" datePickerNgModel/>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 form-group">
          <button type="submit" style="margin-right: 10px" class="btn btn-primary" (click)="Submit()"><i class="fa fa-dot-circle-o"></i> 送出查询</button>
          <button type="reset" class="btn btn-primary btn-danger" (click)="Reset()"><i class="fa fa-ban"></i> 清除</button>
          <button type="button" style="margin-left: 10px" class="btn btn-success" (click)="Export()"><i class="fa fa-print"></i> 汇出</button>
        </div>
      </div>

      <datatable [Source]="list" [Setting]="tableSet"></datatable>

    </div>

  </div>
</div>


<!-- 编辑页 -->
<div class="animated fadeIn" *ngIf="isEditor">

  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-6">
          会员资料管理 / <strong>明细</strong>
        </div>
        <div class="col-md-6" style="text-align: right;">
          <button type="button" class="btn btn-sm btn-success" (click)="Cancel()"><i class="fa fa-chevron-left"></i>返回</button>
        </div>
      </div>
    </div>


      <div class="card-body">
        <div class="form-group row">
          <label class="col-md-3 col-form-label">Email</label>
          <div class="col-md-9">
            {{data.Email}}
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">姓名</label>
          <div class="col-md-9">
            {{data.Name}}
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">ID/身分证号码</label>
          <div class="col-md-9">
            {{data.IdentityNo}}
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">更新时间</label>
          <div class="col-md-9">
            {{data.UpdateDate}}
          </div>
        </div>

        <!-- <div class="form-group row" *ngFor="let item of data.ItemData">
          <label class="col-md-3 col-form-label">{{item.PrefernceName}}</label>
          <div class="col-md-9">
            {{item.Ans}}
          </div>
        </div> -->
        <style>
        .tag-wrapper{display: flex;}
        .item_tag{margin: 0 1rem;}
        </style>
        <div class="form-group row">


                <div class="col-12">
        
                    <div class="form-group">
                        <label>1.<span>您曾经投资过哪些产品？</span></label>
                        <div class="tag-wrapper">
                            <div class="item_tag">
                                <label>
                                    <input type="checkbox" value="1" name="q1"/>
                                    <span>基金</span>
                                </label>
                            </div>
                            <div class="item_tag">
                                <label>
                                    <input type="checkbox" value="2" name="q1"/>
                                    <span>房地产</span>
                                </label>
                            </div>
                            <div class="item_tag">
                                <label>
                                    <input type="checkbox" value="3" name="q1"/>
                                    <span>保险</span>
                                </label>
                            </div>
                            <div class="item_tag">
                                <label>
                                    <input type="checkbox" value="4" name="q1"/>
                                    <span>其他</span>
                                </label>
                            </div>
                        </div>
                    </div>
        
                </div>
        
                <div class="col-12">
                    <div class="form-group">
                        <label>2.<span>请问您是否有海外投资经验及规划？</span></label>
                        <div class="tag-wrapper">
                                <div class="item_tag">
                                    <label>
                                        <input type="radio" value="1" name="q2"/>
                                        <span>是</span>
                                    </label>
                                </div>
                                <div class="item_tag">
                                    <label>
                                        <input type="radio" value="0" name="q2"/>
                                        <span>否</span>
                                    </label>
                                </div>
                        </div>
                    </div>
                </div>
        
                <div class="col-12">
                    <div class="form-group">
                        <label>3.<span>请问您目前看好的投资目标市场？(可多选)</span></label>
                        <div class="tag-wrapper">
                                <div class="item_tag">
                                <label>
                                    <input type="checkbox" value="1" name="q3"/><span>美洲市场</span>
                                </label>
                                </div>
                                <div class="item_tag">
                                <label>
                                    <input type="checkbox" value="2" name="q3"/><span>欧洲市场</span>
                                </label>
                                </div>
                                <div class="item_tag">
                                <label>
                                    <input type="checkbox" value="3" name="q3"/><span>亚洲市场</span>
                                </label>
                                </div>
                                <div class="item_tag">
                                <label>
                                    <input type="checkbox" value="4" name="q3"/><span>全球新兴市场</span>
                                </label>
                                </div>
                        </div>
                    </div>
        
                </div>
        
                <div class="col-12">
                    <div class="form-group">
                        <label>4.<span>请问您有曾经投资过东南亚哪些国家？(可多选)</span></label>
                        <div class="tag-wrapper">
                                <div class="item_tag">
                                <label>
                                    <input type="checkbox" value="1" name="q4"/><span>柬埔寨</span>
                                </label>
                                </div>
                                <div class="item_tag">
                                <label>
                                    <input type="checkbox" value="2" name="q4"/><span>越南</span>
                                </label>
                                </div>
                                <div class="item_tag">
                                <label>
                                    <input type="checkbox" value="3" name="q4"/><span>马来西亚</span>
                                </label>
                                </div>
                                <div class="item_tag">
                                <label>
                                    <input type="checkbox" value="4" name="q4"/><span>泰国</span>
                                </label>
                                </div>
                                <div class="item_tag">
                                <label>
                                    <input type="checkbox" value="5" name="q4"/><span>菲律宾</span>
                                </label>
                                </div>
                                <div class="item_tag">
                                <label>
                                    <input type="checkbox" value="6" name="q4"/><span>其它</span>
                                </label>
                                </div>
                        </div>
                    </div>
        
                </div>
        
                <div class="col-12">
                    <div class="form-group">
                        <label>5.<span>请问您购买海外地产时，最重视哪些因素？ (可多选)</span></label>
                        <div class="tag-wrapper">
                                <div class="item_tag">
                                  <label>
                                      <input type="checkbox" value="1" name="q5"/><span>能否安全退场</span>
                                  </label>
                                </div>
                                <div class="item_tag">
                                  <label>
                                      <input type="checkbox" value="2" name="q5"/><span>项目地点</span>
                                  </label>
                                </div>
                                <div class="item_tag">
                                  <label>
                                      <input type="checkbox" value="3" name="q5"/><span>开发商实力</span>
                                  </label>
                                </div>
                                <div class="item_tag">
                                  <label>
                                      <input type="checkbox" value="4" name="q5"/><span>首付款项</span>
                                  </label>
                                </div>
                        </div>
                    </div>
                  </div>
        
                  <div class="col-12">
                    <div class="form-group">
                        <label>6.<span>请问您作保险规划时，优先考虑的因素？ (可多选)</span></label>
                        <div class="tag-wrapper">
                                <div class="item_tag">
                                  <label>
                                      <input type="checkbox" value="1" name="q6"/><span>税务规划</span>
                                  </label>
                                </div>
                                <div class="item_tag">
                                  <label>
                                      <input type="checkbox" value="2" name="q6"/><span>储蓄报酬</span>
                                  </label>
                                </div>
                                <div class="item_tag">
                                  <label>
                                      <input type="checkbox" value="3" name="q6"/><span>资产传承</span>
                                  </label>
                                </div>
                                <div class="item_tag">
                                  <label>
                                      <input type="checkbox" value="4" name="q6"/><span>意外理赔</span>
                                  </label>
                                </div>
                        </div>
                    </div>
                  </div>
        
                <div class="col-12">
                    <div class="form-group">
                        <label>7.<span>请问您是否会主动与理财专员做资产检视及咨询？</span></label>
                        <div class="tag-wrapper">
                                <div class="item_tag">
                                    <label>
                                        <input type="radio" value="1" name="q7"/>
                                        <span>是</span>
                                    </label>
                                </div>
                                <div class="item_tag">
                                    <label>
                                        <input type="radio" value="0" name="q7"/>
                                        <span>否</span>
                                    </label>
                                </div>
                        </div>
                    </div>
                </div>
        
        
              </div>


      </div>

      <div class="card-footer">
        <button type="button" class="btn btn-sm btn-secondary" (click)="Cancel()"><i class="fa fa-ban"></i> 取消</button>
      </div>


  </div>
</div>
