﻿<div style="width:500px;padding:10px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
    <strong>Hi {NAME}: </strong>
    <br />
    Thank you for contacting us. Regarding your questions, the reply is as followed :<br />
    <br />Nationality/Territories: {CName}
    <br />Phone Number: {Phone}
    <br />Topics: {TypeName}
    <br />Time to contact: {TimeName}
    <br />Description: {Detail}
    <br />
    <br />Reply: {Reply}
    <br />
    <br />
    <span style="color:red">
        It is sent automatically by the system. Please do not reply. If in doubt, please contact customer service.
    </span>
    <br />
    <br />
</div>