﻿<div style="width:500px;padding:10px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
    <strong>{NAME} 您好: </strong>
    <br />
    感謝您與我們联络，以下为您提交的联络资讯：<br />
    <br />国籍 : {CName}
    <br />联络电话 : {Phone}
    <br />联络主题 : {TypeName}
    <br />联络时段 : {TimeName}
    <br />内容 : {Detail}
    <br />
    <br />回覆内容: {Reply}
    <br />
    <br />
    <span style="color:red">此为系统发送信件，请勿直接回覆，如有问题请联系客服</span>
    <br />
    <br />
</div>