﻿<div style="width:500px;padding:10px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
    <strong>管理員 您好: </strong>
    <br />
    此信件为系统发送 联络我们：<br />
    <br />发送时间 : {CreateDate}
    <br />姓名 : {Name}
    <br />联络主题 : {Subject}
    <br />联络时段 : {ContactTime}
    <br />联络信箱 : {Email}
    <br />联络电话 : {Phone}
    <br />内容 : {Detail}
    <br />
    <br />
    <span style="color:red">此为系统发送信件</span>
    <br />
    <br />
</div>