﻿<div style="width:500px;padding:10px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
    <strong>管理員 您好: </strong>
    <br />
    此信件为系统发送推播结果通知：<br />
    <br />时间 : {Time}
    <br />类别 : {Type}
    <br />发送结果 : {Result}
    <br />发送对象 : {Target}
    <br />内容 : {Txt}
    <br />
    <br />
    <span style="color:red">此为系统发送信件</span>
    <br />
    <br />
</div>