﻿<div style="width:500px;padding:10px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
    <strong>管理員 您好: </strong>
    <br />
    此信件为系统发送 活动报名：<br />
    <br />发送时间 : {CreateDate}
    <br />说明会 : {ActName}
    <br />日期 : {Time}
    <br />连络电话 : {Phone}
    <br />地点 : {Addr}
    <br />参加人数 : {Count}
    <br />备注 : {Note}
    <br />
    <br />
    <span style="color:red">此为系统发送信件</span>
    <br />
    <br />
</div>