﻿<div style="width:500px;padding:10px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
    <strong>亲爱的 {NAME} </strong>
    <br />
    请点击或複製下方连结，以修改您的密码。<br />
    <br /> <a href="{URL}" target="_blank">{URL}</a>
    <br />
    <br />
    <br />
    <strong>
        [注意]<br />
        此信件的有效期为24小时。如果已过期，请至app重新申请。
    </strong>
    <br />
    <br />
    <span style="color:red">此信件为系统自动发送，请勿直接回复。如有疑问，请联繫客服人员。</span>
    <br />
    <br />
</div>