﻿<div style="width:500px;padding:10px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
    <strong>Hi {NAME} </strong>
    <br />
    Please change your password by clicking or copy link below. <br />
    <br /> <a href="{URL}" target="_blank">{URL}</a>
    <br />
    <br />
    <br />
    <strong>
        [Note]<br />
        This letter is valid for 24 hours. If expired, please reapply it via the app.
    </strong>
    <br />
    <br />
    <span style="color:red">
        It is sent automatically by the system. Please do not reply. If in doubt, please contact customer service.
    </span>
    <br />
    <br />
</div>