﻿<div style="width:500px;padding:10px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
    <strong>Hello {NAME} : </strong>
    <br />
    感谢您报名说明会，以下为说明会资讯：<br />
    <br />说明会 : {ActName}
    <br />日期 : {Time}
    <br />连络电话 : {Phone}
    <br />地点 : {Addr}
    <br />参加人数 : {Count}
    <br />备注 : {Note}
    <br />
    <br />
    <span style="color:red">此为系统发送信件，请勿直接回覆，如有问题请联系客服</span>
    <br />
    <br />
</div>