﻿<div style="width:500px;padding:10px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
    <strong>亲爱的 {NAME}:</strong>
    <br />
    感谢您注册成为巨石集团 App 会员，请点击或複製下方连结，验证并开通您的会员帐号。<br />
    <br /> <a href="{URL}" target="_blank">{URL}</a>
    <br />
    <br />
    <br />
    <br />
    <br />
    <span style="color:red">此信件为系统自动发送，请勿直接回复。如有疑问，请联繫客服人员。</span>
    <br />
    <br />
</div>