﻿<div style="width:500px;padding:10px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
    <strong>Hi {NAME}:</strong>
    <br />
    Thank you for registering as a member of TitanStone App member,
    Please click or copy link below to verify and start your account.<br />
    <br /> <a href="{URL}" target="_blank">{URL}</a>
    <br />
    <br />
    <br />
    <br />
    <br />
    <span style="color:red">
        It is sent automatically by the system. Please do not reply. If in doubt, please contact customer service.
    </span>
    <br />
    <br />
</div>