<!-- 物件基本资料页 -->
<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-6">
        地产基本资料
      </div>
      <div class="col-md-6" style="text-align: right;">
        <button type="button" class="btn btn-sm btn-success" (click)="ReturnC01()"><i class="fa fa-chevron-left"></i>返回列表</button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">物件名称: <strong>{{tempEstate.Name}}</strong></div>
      <div class="col-md-6">国家: <strong>{{tempEstate.Country}}</strong></div>
    </div>
    <div class="row">
      <div class="col-md-6">价格: <strong>{{tempEstate.Price}}</strong></div>
      <div class="col-md-6">销售类型: <strong>{{tempEstate.TypeName}}</strong></div>
    </div>
  </div>
</div>

<!-- 列表页 -->
<div class="animated fadeIn" *ngIf="!isEditor">
  <div class="card">
    <div class="card-header">
      工程进度管理
    </div>
    
    <div class="card-body">

      <!-- <div class="row">
        <div class="form-group col-md-4">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-search"></i></span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="query.keyword" placeholder="搜寻"/>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 form-group">
            <button type="button" style="margin-right: 10px" class="btn btn-primary" (click)="Submit()"><i class="fa fa-dot-circle-o"></i> 送出查询</button>
            <button type="reset" class="btn btn-primary btn-danger" (click)="Reset()"><i class="fa fa-ban"></i> 清除</button>
        </div>
      </div> -->

      <div class="form-group float-right">
        <button type="button" style="margin-right: 10px" class="btn btn-primary btn-outline-success active" (click)="Create()" litmit="C03,add">新增</button>
      </div>

      <datatable [Source]="list" [Setting]="tableSet"></datatable>

    </div>
  </div>
</div>

<!-- 编辑页 -->
<div class="animated fadeIn" *ngIf="isEditor">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-6">
          工程进度管理 / <strong>{{mainForm.get('ID').value == null ? '新增' : '编辑'}}</strong>
        </div>
        <div class="col-md-6" style="text-align: right;">
          <button type="button" class="btn btn-sm btn-success" (click)="Cancel()"><i class="fa fa-chevron-left"></i>返回</button>
        </div>
      </div>
    </div>

    <form class="form-horizontal" [formGroup]="mainForm" (ngSubmit)="SubmitForm()">

      <div class="card-body">

        <div class="form-group row">
          <label class="col-md-3 col-form-label">期数<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="SchNo"/>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('SchNo').valid || mainForm.get('SchNo').pristine">
                必填
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">期数(英文)<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="SchNoEn"/>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('SchNoEn').valid || mainForm.get('SchNoEn').pristine">
                必填
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">阶段名称<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="Name"/>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('Name').valid || mainForm.get('Name').pristine">
                必填
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">阶段名称(英文)<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="NameEn"/>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('NameEn').valid || mainForm.get('NameEn').pristine">
                必填
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">阶段简述</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="Brief"/>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">阶段简述(英文)</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="BriefEn"/>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">工程状态<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <select class="form-control" formControlName="ScheduleType">
              <option [value]="'1'">尚未动工</option>
              <option [value]="'2'">施工中</option>
              <option [value]="'3'">已完工</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">预估完工日</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="CompleteDate" datePicker/>
          </div>
        </div>

        <div class="form-group row"  [hidden]="mainForm.get('ScheduleType').value != '3'">
          <label class="col-md-3 col-form-label">实际完工日<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="RealComplete" datePicker/>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('RealComplete').valid || mainForm.get('RealComplete').pristine">
                必填
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">建立时间</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="CreateDate" placeholder="" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">排序<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="OrderNo"/>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('OrderNo').valid || mainForm.get('OrderNo').pristine">
                必填，限数字
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary mr-15" [disabled]="!mainForm.valid" litmit="C03,edit"><i class="fa fa-dot-circle-o"></i> 确认送出</button>
        <button type="submit" class="btn btn-sm btn-primary mr-15" [disabled]="!mainForm.valid" litmit="C03,add"><i class="fa fa-dot-circle-o"></i> 确认送出</button>
        <button *ngIf="mainForm.get('ID').value != null" type="button" class="btn btn-sm btn-danger mr-15" (click)="Delete()" litmit="C03,delete"><i class="fa fa-dot-circle-o"></i>删除</button>
        <button type="button" class="btn btn-sm btn-secondary" (click)="Cancel()"><i class="fa fa-ban"></i> 取消</button>
      </div>

    </form>

  </div>
</div>
