<div class="pop_mask" style="z-index: 10005;" *ngIf="open"> 
    <div class="pop_mid" >
        <div class="pop_block">
            <div class="pop_content">

                  <div class="input-group mb-4">
                     <label>重设密码</label> <input type="password" name="repwd" [(ngModel)]="resetpwd" class="form-control" required #repwd="ngModel">
                     <div class="col-md-12"><span [hidden]="(repwd.valid || repwd.pristine) && resetpwd.length >= 6" class="help-block">限英文、数字，至少六个字元</span></div>
                   </div>
            </div>
            <div class="btn_group" >
                <div class="cancel" (click)="Cancel()">取消</div>
                <div class="check" (click)="Submit()">确认</div>
            </div>
        </div>
    </div>
</div>
