
<app-header
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/logo.png', width: 89, height: 25, alt: ''}"
  [navbarBrandMinimized]="{src: 'assets/img/logo.png', width: 30, height: 30, alt: ''}"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="false">
  <ul class="nav navbar-nav ml-auto">
      <li class="nav-item dropdown" dropdown placement="bottom right">
        <a class="nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
            <i class="icon-user"></i><span style="padding:10px;">{{userName}}</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
          <!-- <a class="dropdown-item" (click)="ReSetPwd()"><i class="fa fa-shield"></i>重设密码</a> -->
          <a class="dropdown-item" (click)="LogOut()"><i class="fa fa-lock"></i> 登出</a>
        </div>
      </li>
    </ul>
  
</app-header>
<div class="app-body">
  <app-sidebar [fixed]="true" [display]="'lg'">
    <app-sidebar-nav [navItems]="_nav" [perfectScrollbar] [disabled]="sidebarMinimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <div class="container-fluid" style="padding-top: 1rem">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>
</div>
<app-footer>
  <span>Titan Stone &copy; 2020 </span>
  <span class="ml-auto">Powered by Titan Stone</span>
</app-footer>
