<div class="animated fadeIn" *ngIf="!IsEditor">
  <div class="card">
    <div class="card-header">
      理财趋势管理
    </div>

    <div class="card-body">

      <div class="row">

        <div class="form-group col-md-4">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-search"></i></span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="Query.keyword" placeholder="搜寻 文章名称、作者" />
          </div>
        </div>

        <div class="form-group col-md-4">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">文章类型</span>
            </div>
            <select class="form-control" [(ngModel)]="Query.tradetypeid" [disabled]="tradetypeid">
              <option [value]="''">选择文章类型</option>
              <option *ngFor="let data of TradeData" [ngValue]="data.OptionValue">{{data.Name}}</option>
            </select>
          </div>
        </div>

        <div class="form-group col-md-4">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">启用</span>
            </div>
            <select class="form-control" [(ngModel)]="Query.status" [disabled]="IsStatused">
              <option [value]="''">选择是否启用</option>
              <option [value]="true">已启用</option>
              <option [value]="false">未启用</option>
            </select>
          </div>
        </div>

        <div class="form-group col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">文章日期</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="Query.displaystartdate" datePickerNgModel />
            <span class="dayTo">~</span>
            <input type="text" class="form-control" [(ngModel)]="Query.displayenddate" datePickerNgModel />
          </div>
        </div>

        <div class="form-group col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">上下架时间</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="Query.beginstartdate" datePickerNgModel />
            <span class="dayTo">~</span>
            <input type="text" class="form-control" [(ngModel)]="Query.beginenddate" datePickerNgModel />
          </div>
        </div>

        <div class="form-group col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">建立时间</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="Query.startdate" datePickerNgModel />
            <span class="dayTo">~</span>
            <input type="text" class="form-control" [(ngModel)]="Query.enddate" datePickerNgModel />
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-md-12 form-group">
          <button type="submit" style="margin-right: 10px" class="btn btn-primary" (click)="Submit()"><i
              class="fa fa-dot-circle-o"></i> 送出查询</button>
          <button type="reset" class="btn btn-primary btn-danger" (click)="Reset()"><i class="fa fa-ban"></i>
            清除</button>
        </div>
      </div>


      <div class="form-group float-right">
        <button type="button" style="margin-right: 10px" class="btn btn-primary btn-outline-success active"
          (click)="Create()">新增</button>
      </div>

      <datatable [Source]="Data" [Setting]="TableSet"></datatable>
    </div>

  </div>
</div>


<!-- 新增修改 -->
<div class="animated fadeIn" *ngIf="IsEditor">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-6">
          理财趋势管理 / <strong>{{mainForm.get('ID').value == null ? '新增' : '编辑'}}</strong>
        </div>
        <div class="col-md-6" style="text-align: right;">
          <button type="button" class="btn btn-sm btn-success" (click)="Cancel()"><i
              class="fa fa-chevron-left"></i>返回</button>
        </div>
      </div>
    </div>
    <!-- <div class="card">
    <div class="card-header">
      理财趋势管理 / <strong>{{mainForm.get('ID').value == null ? '新增' : '编辑'}}</strong>
    </div> -->
    <form class="form-horizontal" [formGroup]="mainForm" (ngSubmit)="FormSubmit()">
      <div class="card-body">

        <div class="form-group row">
          <label class="col-md-3 col-form-label">文章类型<span class="redpoint">*</span></label>
          <div class="col-md-9">
              <select class="form-control" formControlName="TradeType">
                <option [value]="''">请选择文章类型</option>
                <ng-container *ngFor="let data of TradeData">
                  <option [value]="data.OptionValue">{{data.Name}}</option>
                </ng-container>
              </select>
          </div>
        </div>
        
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="hf-email">文章名称</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="Name" placeholder="请输入文章名称" minlength="0">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="hf-email">文章名称(英文)</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="NameEn" placeholder="请输入文章英文名称" minlength="0">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="hf-email">文章日期</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="DisplayDate" datePicker />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="hf-email">列表简述</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="Brief" placeholder="请输入列表简述" minlength="0">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="hf-email">列表简述(英文)</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="BriefEn" placeholder="请输入列表英文简述" minlength="0">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="hf-email">列表图片</label>
          <div class="col-md-9">
            <file-upload [Source]="mainForm.get('Img')"></file-upload>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">作者</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="Author" placeholder="请输入作者" minlength="0">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">作者(英文)</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="AuthorEn" placeholder="请输入作者(英文)" minlength="0">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">文章内容</label>
          <div class="col-md-9">
            <html-edit [Source]="mainForm.get('Detail')"></html-edit>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">文章内容(英文)</label>
          <div class="col-md-9">
            <html-edit [Source]="mainForm.get('DetailEn')"></html-edit>
          </div>
        </div>



        <div class="form-group row">
          <label class="col-md-3 col-form-label">
            相关推荐
          </label>
          <div class="col-md-9">
            <tag-input [Selected]="mainForm.get('Recommend')" [DataList]="SelectList" [Create]="false"></tag-input>
          </div>
        </div>


        <div class="form-group row">

          <label class="col-md-3 col-form-label">上下架时间</label>
          <div class="col-md-4">
            <input type="text" class="form-control" formControlName="BeginDate" datePicker />
          </div>
          <div class="col-md-1" style="text-align: center;">~</div>
          <div class="col-md-4">
            <input type="text" class="form-control" formControlName="EndDate" datePicker />
          </div>
        </div>


        <div class="form-group row">
          <label class="col-md-3 col-form-label">排序<span class="redpoint">*</span></label>
          <div class="col-md-3">
            <input type="text" class="form-control" formControlName="OrderNo" placeholder="请输入 OrderNo" maxlength="10"
              required>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('OrderNo').valid || mainForm.get('OrderNo').pristine">
                必填 排序
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">状态<span class="redpoint">*</span></label>
          <div class="col-md-9 col-form-label">

            <div class="form-check float-left mr-15">
              <input class="form-check-input" type="radio" id="checkboxall" [value]="true" formControlName="Status" />
              <label class="form-check-label" for="checkboxall">启用中</label>
            </div>

            <div class="form-check float-left">
              <input class="form-check-input" type="radio" id="checkboxal2" [value]="false" formControlName="Status" />
              <label class="form-check-label" for="checkboxal2">停用中</label>
            </div>

          </div>
        </div>

        <div class="form-group row" *ngIf="mainForm.value['CreateDate']">
          <label class="col-md-3 col-form-label">建立时间</label>
          <div class="col-md-9">
            {{mainForm.value['CreateDate']}}
          </div>
        </div>

      </div>

      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary mr-15" [disabled]="!mainForm.valid"><i
            class="fa fa-dot-circle-o" litmit="D01,add"></i> 确认送出</button>
        <button type="submit" class="btn btn-sm btn-primary mr-15" [disabled]="!mainForm.valid"><i
            class="fa fa-dot-circle-o" litmit="D01,edit"></i> 确认送出</button>
        <button type="button" class="btn btn-sm btn-danger mr-15" *ngIf="mainForm.get('ID').value != null"
          (click)="Delete()" litmit="D03,delete"><i class="fa fa-dot-circle-o"></i>删除</button>
        
        <button type="button" class="btn btn-sm btn-secondary" (click)="Cancel()"><i class="fa fa-ban"></i> 取消</button>
      </div>

    </form>

  </div>

</div>