    <table class="table">
        <thead>
        <tr>
            <ng-container *ngFor="let set of headerSet">
            <th [ngStyle]="set.style">{{set.name}}</th>
            </ng-container>
        </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let item of PageData; let _index = index">
                <tr>
                <ng-container *ngFor="let _set of headerSet">

                    <td *ngIf="_set.type == ''" [ngStyle]="_set.style">{{item[_set.key]}}</td>

                    <td *ngIf="_set.type == 'status'" [ngStyle]="_set.style">
                        <span class="badge badge-success" *ngIf="item[_set.key]">启用</span>
                        <span class="badge badge-secondary" *ngIf="!item[_set.key]">停用</span>
                    </td>

                    <td *ngIf="_set.type == 'status_v2'" [ngStyle]="_set.style">
                        <span  *ngIf="item[_set.key]=='1'">待处理</span>
                        <span  *ngIf="item[_set.key]=='2'">处理中</span>
                        <span  *ngIf="item[_set.key]=='3'">已处理</span>
                    </td>                    

                    <td *ngIf="_set.type == 'img'" [ngStyle]="_set.style">
                        <img style="width:50px;" [src]="item[_set.key]"/>
                    </td>

                    <td *ngIf="_set.type == 'func'" [ngStyle]="_set.style">
                        <button type="button" class="btn btn-primary btn-outline-success" (click)="_set.event(item)">
                         <i class="fa {{_set.icon}} fa-lg"></i>
                        </button>
                    </td>
                </ng-container>
                </tr>
            </ng-container>
        </tbody>
    </table>

    <div class="row">
        <div class="col-md-8" style="text-align: center;padding-top: 5px;">
            显示第{{(Data.length == 0) ? 0 : (start + 1) }}
            到{{((end) > Data.length) ? Data.length : end}}项纪录，共计{{Data.length}}项 每页
            <select [(ngModel)]="itemsPerPage" (change)="PerPageSet()">
                <option [value]="10">10</option>
                <option [value]="50">50</option>
                <option [value]="100">100</option>
                </select>
            项纪录
            </div>
            <div class="col-md-4">
                <pagination [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [maxSize]="6" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"
                previousText="&lsaquo;" nextText="&rsaquo;"></pagination>
            </div>
    </div>

    <style>
    .table tbody td:last-child{text-align: right;}
    </style>
