<!-- 列表页 -->
<div class="animated fadeIn" *ngIf="!isEditor">
  <div class="card">
    <div class="card-header">
      收信人管理
    </div>

    <div class="card-body">

      <div class="row">
        <div class="form-group col-md-4">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">状态</span>
            </div>
            <select class="form-control" [(ngModel)]="query.status">
              <option [value]="''">请选择</option>
              <option [value]="true">启用</option>
              <option [value]="false">停用</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 form-group">
          <button type="button" style="margin-right: 10px" class="btn btn-primary" (click)="Submit()"><i
              class="fa fa-dot-circle-o"></i> 送出查询</button>
          <button type="reset" class="btn btn-primary btn-danger" (click)="Reset()"><i class="fa fa-ban"></i>
            清除</button>
        </div>
      </div>

      <div class="form-group float-right">
        <button type="button" style="margin-right: 10px" class="btn btn-primary btn-outline-success active"
          (click)="Create()" litmit="E05,add">新增</button>
      </div>

      <datatable [Source]="list" [Setting]="tableSet"></datatable>

    </div>
  </div>
</div>

<!-- 编辑页 -->
<div class="animated fadeIn" *ngIf="isEditor">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-6">
          收信人管理 / <strong>{{mainForm.get('ID').value == null ? '新增' : '编辑'}}</strong>
        </div>
        <div class="col-md-6" style="text-align: right;">
          <button type="button" class="btn btn-sm btn-success" (click)="Cancel()"><i
              class="fa fa-chevron-left"></i>返回</button>
        </div>
      </div>
    </div>
    <!-- <div class="card">
    <div class="card-header">
      收信人管理 / <strong>{{mainForm.get('ID').value == null ? '新增' : '编辑'}}</strong>
    </div> -->

    <form class="form-horizontal" [formGroup]="mainForm" (ngSubmit)="SubmitForm()">

      <div class="card-body">
        <div class="form-group row">
          <label class="col-md-3 col-form-label" >Email</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="Email" [email]="true" />
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('Email').valid || mainForm.get('Email').pristine">
                请输入正确的信箱格式
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">权限</label>
          <div class="col-md-9">
            <div class="form-check checkbox">
              <input class="form-check-input" id="chkContactUs" type="checkbox" formControlName="ContactUs">
              <label class="form-check-label" for="chkContactUs">联络我们</label>
            </div>
            <div class="form-check checkbox">
              <input class="form-check-input" id="chkActivity" type="checkbox" formControlName="Activity">
              <label class="form-check-label" for="chkActivity">活动报名</label>
            </div>
            <div class="form-check checkbox">
              <input class="form-check-input" id="chkPushLog" type="checkbox" formControlName="PushLog">
              <label class="form-check-label" for="chkPushLog">推播结果通知</label>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">状态</label>
          <div class="col-md-9 col-form-label">
            <div class="form-check float-left mr-15">
              <input class="form-check-input" type="radio" id="chkEnable" [value]="true" formControlName="Status" />
              <label class="form-check-label" for="chkEnable">启用</label>
            </div>
            <div class="form-check float-left mr-15">
              <input class="form-check-input" type="radio" id="chkDisable" [value]="false" formControlName="Status" />
              <label class="form-check-label" for="chkDisable">停用</label>
            </div>
          </div>
        </div>
      </div>

      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary mr-15" [disabled]="!mainForm.valid" litmit="E05,add"><i
            class="fa fa-dot-circle-o"></i> 确认送出</button>
        <button type="submit" class="btn btn-sm btn-primary mr-15" [disabled]="!mainForm.valid" litmit="E05,edit"><i
            class="fa fa-dot-circle-o"></i> 确认送出</button>
        <button *ngIf="mainForm.get('ID').value != null" type="button" class="btn btn-sm btn-danger mr-15"
          (click)="Delete()" litmit="E05,delete"><i class="fa fa-dot-circle-o"></i>删除</button>
        <button type="button" class="btn btn-sm btn-secondary" (click)="Cancel()"><i class="fa fa-ban"></i> 取消</button>
      </div>
    </form>

  </div>
</div>