﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoreWeb</title>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/main.css?v=20190110")">
    <script src="@Url.Content("~/Content/jquery.min.js")"></script>

</head>
<body>
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>
