<!-- 列表页 -->
<div class="animated fadeIn" *ngIf="!isDetail">
  <div class="card">
    <div class="card-header">
      通知纪录管理
    </div>

    <div class="card-body">

      <div class="row">

        <div class="form-group col-md-4">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-search"></i></span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="query.keyword" placeholder="搜寻　通知内容、装置代码" />
          </div>
        </div>

        <div class="form-group col-md-4">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">类型</span>
            </div>
            <select class="form-control" [(ngModel)]="query.type">
              <option [value]="''">请选择</option>
              <option *ngFor="let item of notice; let _index = index" [value]="item.OptionValue">{{item.Name}}</option>
            </select>
          </div>
        </div>

        <div class="form-group col-md-4">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">通知对象</span>
            </div>
            <select class="form-control" [(ngModel)]="query.targettype">
              <option [value]="''">请选择</option>
              <option  [value]="1">所有用户</option>
              <option  [value]="2">会员用户</option>
              <option  [value]="3">自订</option>
            </select>
          </div>
        </div>

        <div class="form-group col-md-5">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">起讫日期</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="query.startDate" datePickerNgModel />
            <span class="dayTo">~</span>
            <input type="text" class="form-control" [(ngModel)]="query.endDate" datePickerNgModel />
          </div>
        </div>
        

      </div>

      <div class="row">
        <div class="col-md-12 form-group">
          <button type="button" style="margin-right: 10px" class="btn btn-primary" (click)="Submit()"><i
              class="fa fa-dot-circle-o"></i> 送出查询</button>
          <button type="reset" class="btn btn-primary btn-danger" (click)="Reset()"><i class="fa fa-ban"></i>
            清除</button>
        </div>
      </div>

      <datatable [Source]="list" [Setting]="tableSet"></datatable>

    </div>
  </div>
</div>

<!-- 明细页 -->
<div class="animated fadeIn" *ngIf="isDetail">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-6">
          通知纪录管理 / <strong>明细</strong>
        </div>
        <div class="col-md-6" style="text-align: right;">
          <button type="button" class="btn btn-sm btn-success" (click)="Cancel()"><i
              class="fa fa-chevron-left"></i>返回</button>
        </div>
      </div>
    </div>
    <!-- <div class="card">
    <div class="card-header">
      通知纪录管理 / <strong>明细</strong>
    </div> -->

    <form class="form-horizontal" [formGroup]="mainForm">

      <div class="card-body">
        <div class="form-group row">
          <label class="col-md-3 col-form-label">类型</label>
          <div class="col-md-9">
            <select class="form-control" formControlName="PType">
              <option *ngFor="let item of notice; let _index = index" [value]="item.OptionValue">{{item.Name}}</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">通知内容</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="Detail" />
          </div>
        </div>
        
        <div class="form-group row">
          <label class="col-md-3 col-form-label">通知语系</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="Lang" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">通知对象</label>
          <div class="col-md-9 col-form-label">
            <div class="form-check float-left mr-15">
              <input class="form-check-input" type="radio" id="chkAll" [value]="'1'" formControlName="TargetType" />
              <label class="form-check-label" for="chkAll">所有用户</label>
            </div>
            <div class="form-check float-left mr-15">
              <input class="form-check-input" type="radio" id="chkUser" [value]="'2'" formControlName="TargetType" />
              <label class="form-check-label" for="chkUser">会员用户</label>
            </div>
            <div class="form-check float-left mr-15">
              <input class="form-check-input" type="radio" id="chkCustom" [value]="'3'" formControlName="TargetType" />
              <label class="form-check-label" for="chkCustom">自订</label>
            </div>
          </div>
        </div>

        <div class="form-group row">
            <!-- <div class="form-group row" [hidden]="mainForm.get('TargetType').value != '3'"> -->
          <label class="col-md-3 col-form-label">装置代码</label>
          <div class="col-md-9">
            <!-- <input type="text" class="form-control" formControlName="DeviceIDs" placeholder="复数笔时，以逗号分隔" /> -->
            {{mainForm.value['DeviceIDs']}}
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">发送时间</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="CreateDate" placeholder="" />
          </div>
        </div>
      </div>

      <div class="card-footer">
        <button type="button" class="btn btn-sm btn-danger mr-15" (click)="Delete()" litmit="E02,delete"><i class="fa fa-dot-circle-o" litmit="E02,delete"></i>删除</button>
        <button type="button" class="btn btn-sm btn-secondary" (click)="Cancel()"><i class="fa fa-ban"></i> 取消</button>
      </div>

    </form>

  </div>
</div>
