<div class="pop_mask" *ngIf="Isopen">
    <div class="pop_mid">
        <div class="pop_block" style="max-width: 320px;">
            <div class="pop_content">
                <div class="date_area">
                    <div class="date_title">日期</div>
                    <div class="date_bar">

                        <div class="arrow_left" (click)="OnDataChange('-')"></div>

                        <select style="margin-right: 3%;" [(ngModel)]="default_y" (change)="OnDataChange()">
                          <ng-container *ngFor="let y of Years;">
                                <option [value]="y">{{y}}年</option>
                          </ng-container>
                        </select>

                        <select [(ngModel)]="default_m"  (change)="OnDataChange()">
                          <ng-container *ngFor="let m of Months;">
                                <option [value]="m">{{m}}月</option>
                          </ng-container>
                        </select>

                        <div class="arrow_right" (click)="OnDataChange('+')"></div>
                    </div>
                    <div class="calendar_area">
                        <div><span class="week">日</span></div>
                        <div><span class="week">一</span></div>
                        <div><span class="week">二</span></div>
                        <div><span class="week">三</span></div>
                        <div><span class="week">四</span></div>
                        <div><span class="week">五</span></div>
                        <div><span class="week">六</span></div>
                        <ng-container *ngFor="let day of days;">
                           <div class="{{((day.enable) ? '' : 'disable')}}">
                               <span class="{{((day.selected) ? 'active' : '')}}" (click)="SelectDate(day)">{{day.text}}</span>
                           </div>
                        </ng-container>
                        
                    </div>
                    <ng-container *ngIf="isTime">
                        <div class="time_title">時間</div>
                        <div class="time_bar">
                            <label>時 : 
                                <input type="text" [(ngModel)]="hour" (keyup)="ChechH()" placeholder="0-24"/>
                            </label>
                            <label>分 : 
                                <input type="text" [(ngModel)]="mini" (keyup)="ChechM()" placeholder="00"/>
                            </label>
                            <label>秒 : 
                                <input type="text" [(ngModel)]="sec" (keyup)="ChechS()" placeholder="00"/>
                            </label>
                        </div>
                    </ng-container>
                    
                    <div class="footer_bar">
                        <!-- <div class="btn_cancel" (click)="Cancel()">关闭</div>
                        <div class="btn_submit" (click)="Submit()">确认</div> -->
                        <div class="btn btn-primary btn-outline-danger" (click)="Clear()" style="margin-left: 10px;">清除</div>
                        <div class="btn btn-primary btn btn-outline-warning" (click)="Cancel()" style="margin-left: 10px;">关闭</div>
                        <div class="btn btn-primary btn-outline-success" (click)="Submit()" style="margin-left: 10px;">确认</div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
