<!-- 列表页 -->
<div class="animated fadeIn" *ngIf="!isEditor">
  <div class="card">
    <div class="card-header">
      基金销售管理
    </div>

    <div class="card-body">

      <div class="row">
        <div class="form-group col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-search"></i></span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="query.keyword" placeholder="搜寻基金单号、购买人ID、渠道、购买人姓名、基金名称"/>
          </div>
        </div>
        <div class="form-group col-md-3">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">基金类型</span>
            </div>
            <select class="form-control" [(ngModel)]="query.fundType">
              <option [value]="''">请选择</option>
              <option [value]="'1'">私募</option>
              <option [value]="'2'">避險</option>
              <option [value]="'3'">共同</option>
            </select>
          </div>
        </div>
        <div class="form-group col-md-3">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">申购方式</span>
            </div>
            <select class="form-control" [(ngModel)]="query.buyType">
              <option [value]="''">请选择</option>
              <option [value]="'1'">單筆</option>
              <option [value]="'2'">定期定額</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">申购金额</span>
            </div>
            <!-- <input type="number" class="form-control" [(ngModel)]="query.sum"/> -->
            <input type="number" class="form-control" [(ngModel)]="query.sum"/>
            <span class="dayTo">~</span>
            <input type="number" class="form-control" [(ngModel)]="query.sumlitmit"/>
          </div>
        </div>
        <div class="form-group col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">建立时间</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="query.startDate" datePickerNgModel/>
            <span class="dayTo">~</span>
            <input type="text" class="form-control" [(ngModel)]="query.endDate" datePickerNgModel/>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 form-group">
          <button type="button" style="margin-right: 10px" class="btn btn-primary" (click)="Submit()"><i class="fa fa-dot-circle-o"></i> 送出查询</button>
          <button type="reset" class="btn btn-primary btn-danger" (click)="Reset()"><i class="fa fa-ban"></i> 清除</button>
          <button type="button" style="margin-left: 10px" class="btn btn-success" (click)="Export()"><i class="fa fa-print"></i> 汇出</button>
          <button type="button" litmit="B09,add" style="margin-left: 10px" class="btn btn-warning" (click)="Import()"><i class="fa fa-print"></i> 汇入</button>
          <button type="button" litmit="B09,add" style="margin-left: 10px" class="btn" (click)="Sample()"><i class="fa fa-print"></i> 汇入範本下載</button>
        </div>
      </div>

      <div class="form-group float-right">
        <button type="button" style="margin-right: 10px" class="btn btn-primary btn-outline-success active" (click)="Create()" litmit="B09,add">新增</button>
      </div>

      <datatable [Source]="list" [Setting]="tableSet"></datatable>

    </div>
  </div>
</div>

<!-- 编辑页 -->
<div class="animated fadeIn" *ngIf="isEditor">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-6">
          基金销售管理 / <strong>{{mainForm.get('ID').value == null ? '新增' : '编辑'}}</strong>
        </div>
        <div class="col-md-6" style="text-align: right;">
          <button type="button" class="btn btn-sm btn-success" (click)="Cancel()"><i class="fa fa-chevron-left"></i>返回</button>
        </div>
      </div>
    </div>

    <form class="form-horizontal" [formGroup]="mainForm" (ngSubmit)="SubmitForm()">

      <div class="card-body">
        <div class="form-group row">
          <label class="col-md-3 col-form-label">基金单号<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="FundsNo"/>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('FundsNo').valid || mainForm.get('FundsNo').pristine">
                必填
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">购买人ID<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="UserIdentityNo"/>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('UserIdentityNo').valid || mainForm.get('UserIdentityNo').pristine">
                必填
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">所属渠道</label>
          <div class="col-md-9">
            <tag-input [Selected]="mainForm.get('Channel')" [DataList]="channelList" [Create]="false"></tag-input>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">购买人姓名<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="BuyerName"/>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('BuyerName').valid || mainForm.get('BuyerName').pristine">
                必填
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">基金名称<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <select class="form-control" formControlName="FundsID">
              <option [value]="''">请选择</option>
              <option *ngFor="let funds of fundsList" [value]="funds.ID">{{funds.Name}}</option>
            </select>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('FundsID').valid || mainForm.get('FundsID').pristine">
                必填
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">基金类型</label>
          <div class="col-md-9">
            <select class="form-control" formControlName="FundType">
              <option style="display: none;" [value]="''"></option>
              <option style="display: none;" [value]="'1'">私募</option>
              <option style="display: none;" [value]="'2'">避险</option>
              <option style="display: none;" [value]="'3'">共同</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">申购方式<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <select class="form-control" formControlName="BuyType">
              <option [value]="''">请选择</option>
              <option *ngIf="buyTypeList.oneTime" [value]="'1'">单笔申购</option>
              <option *ngIf="buyTypeList.periodic" [value]="'2'">定期定额</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">累积申购金额</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="PurchaseTotal"/>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">备注</label>
          <div class="col-md-9">
            <textarea type="text" class="form-control" rows="6" formControlName="Note"></textarea>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">建立时间</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="CreateDate" placeholder="" />
          </div>
        </div>
      </div>

      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary mr-15" [disabled]="!mainForm.valid" litmit="B09,add"><i class="fa fa-dot-circle-o"></i> 确认送出</button>
        <button type="submit" class="btn btn-sm btn-primary mr-15" [disabled]="!mainForm.valid" litmit="B09,edit"><i class="fa fa-dot-circle-o"></i> 确认送出</button>

        <button *ngIf="mainForm.get('ID').value != null" type="button" class="btn btn-sm btn-danger mr-15" (click)="Delete()" litmit="B09,delete"><i class="fa fa-dot-circle-o"></i>删除</button>
        <button type="button" class="btn btn-sm btn-secondary" (click)="Cancel()"><i class="fa fa-ban"></i> 取消</button>
      </div>

    </form>

  </div>
</div>
