<!-- 列表页 -->
<div class="animated fadeIn" *ngIf="!isEditor">
  <div class="card">
    <div class="card-header">
      地产上稿管理
    </div>
    
    <div class="card-body">

      <div class="row">
        <div class="form-group col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-search"></i></span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="query.keyword" placeholder="搜寻名称、价格"/>
          </div>
        </div>
        <div class="form-group col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">建立时间</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="query.startDate" datePickerNgModel/>
            <span class="dayTo">~</span>
            <input type="text" class="form-control" [(ngModel)]="query.endDate" datePickerNgModel/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">销售类型</span>
            </div>
            <select class="form-control" [(ngModel)]="query.type">
              <option [value]="''">请选择</option>
              <option [value]="'1'">期房</option>
              <option [value]="'2'">现房</option>
            </select>
          </div>
        </div>
        <div class="form-group col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">状态</span>
            </div>
            <select class="form-control" [(ngModel)]="query.status">
              <option [value]="''">请选择</option>
              <option [value]="true">启用</option>
              <option [value]="false">停用</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 form-group">
            <button type="button" style="margin-right: 10px" class="btn btn-primary" (click)="Submit()"><i class="fa fa-dot-circle-o"></i> 送出查询</button>
            <button type="reset" class="btn btn-primary btn-danger" (click)="Reset()"><i class="fa fa-ban"></i> 清除</button>
        </div>
      </div>

      <div class="form-group float-right">
        <button type="button" style="margin-right: 10px" class="btn btn-primary btn-outline-success active" (click)="Create()" litmit="C01,add">新增</button>
      </div>

      <datatable [Source]="list" [Setting]="tableSet"></datatable>

    </div>
  </div>
</div>

<!-- 编辑页 -->
<div class="animated fadeIn" *ngIf="isEditor">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-6">
            地产上稿管理 / <strong>{{mainForm.get('ID').value == null ? '新增' : '编辑'}}</strong>
        </div>
        <div class="col-md-6" style="text-align: right;">
          <button type="button" class="btn btn-sm btn-success" (click)="Cancel()"><i class="fa fa-chevron-left"></i>返回</button>
        </div>
      </div>
    </div>

    <form class="form-horizontal" [formGroup]="mainForm" (ngSubmit)="SubmitForm()">

      <div class="card-body">

        <div class="form-group row">
          <label class="col-md-3 col-form-label">物件名称<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="Name"/>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('Name').valid || mainForm.get('Name').pristine">
                必填
              </span>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label">物件名称(英文)<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="NameEn"/>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('NameEn').valid || mainForm.get('NameEn').pristine">
                必填
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">销售类型<span class="redpoint">*</span></label>
          <div class="col-md-9 col-form-label">
            <div class="form-check float-left mr-15">
              <input class="form-check-input" type="radio" id="chkPresale" [value]="'1'" formControlName="SaleType" />
              <label class="form-check-label" for="chkPresale">期房</label>
            </div>
            <div class="form-check float-left mr-15">
              <input class="form-check-input" type="radio" id="chkHouse" [value]="'2'" formControlName="SaleType" />
              <label class="form-check-label" for="chkHouse">现房</label>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">列表图片</label>
          <div class="col-md-9">
            <file-upload  [Source]="mainForm.get('MainImg')"></file-upload>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">列表简述</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="Brief"/>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label">列表简述(英文)</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="BriefEn"/>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">价格<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="Price"/>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('Price').valid || mainForm.get('Price').pristine">
                必填
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">特色标签</label>
          <div class="col-md-9">
            <tag-input [Selected]="mainForm.get('SpecTag')" [DataList]="specTagList"></tag-input>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label">特色标签(英文)</label>
          <div class="col-md-9">
            <tag-input [Selected]="mainForm.get('SpecTagEn')" [DataList]="specTagList"></tag-input>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">影片图片</label>
          <div class="col-md-9">
            <file-upload  [Source]="mainForm.get('VideoImg')"></file-upload>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label">影片网址</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="VideoUrl"/>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">产品形象</label>
          <div class="col-md-9">
            <div class="btn btn-sm btn-primary" (click)="editImageAlbum()">编辑相簿</div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">国家</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="Country"/>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">国家(英文)</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="CountryEn"/>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">建案类别</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="EstateType"/>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label">建案类别(英文)</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="EstateTypeEn"/>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">地址</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="Address"/>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">楼层规划</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="FloorDesc"/>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">楼层规划图</label>
          <div class="col-md-9">
            <file-upload  [Source]="mainForm.get('FloorImg')"></file-upload>
          </div>
        </div>
        
        <div class="form-group row">
          <label class="col-md-3 col-form-label">竣工日期</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="CompleteDate" datePicker/>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">建案特色</label>
          <div class="col-md-9">
            <html-edit [Source]="mainForm.get('CaseSpec')"></html-edit>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label">建案特色(英文)</label>
          <div class="col-md-9">
            <html-edit [Source]="mainForm.get('CaseSpecEn')"></html-edit>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">型录上传</label>
          <div class="col-md-9">
            <file-upload  [Source]="mainForm.get('FileUrl')" [Type]="'pdf'"></file-upload>
          </div>
        </div>
        
        <div class="form-group row">
          <label class="col-md-3 col-form-label">周围设施</label>
          <div class="col-md-9">
            <div class="btn btn-sm btn-primary mr-15" (click)="editSurroundings('album')">编辑相簿</div>
            <div class="btn btn-sm btn-primary" (click)="editSurroundings('item')">编辑项目</div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label">周围设施(英文)</label>
          <div class="col-md-9">
            <div class="btn btn-sm btn-primary mr-15" (click)="editSurroundingsEn('album')">编辑相簿</div>
            <div class="btn btn-sm btn-primary" (click)="editSurroundingsEn('item')">编辑项目</div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">设施服务</label>
          <div class="col-md-9">
            <div class="btn btn-sm btn-primary mr-15" (click)="editFacilities('album')">编辑相簿</div>
            <div class="btn btn-sm btn-primary" (click)="editFacilities('item')">编辑项目</div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label">设施服务(英文)</label>
          <div class="col-md-9">
            <div class="btn btn-sm btn-primary mr-15" (click)="editFacilitiesEn('album')">编辑相簿</div>
            <div class="btn btn-sm btn-primary" (click)="editFacilitiesEn('item')">编辑项目</div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">服务</label>
          <div class="col-md-9">
            <div class="btn btn-sm btn-primary" (click)="editServices()">编辑项目</div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label">服务(英文)</label>
          <div class="col-md-9">
            <div class="btn btn-sm btn-primary" (click)="editServicesEn()">编辑项目</div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">上下架时间</label>
          <div class="col-md-4">
            <input type="text" class="form-control" formControlName="OnShelfDate" datePicker="full"/>
          </div>
          <div class="col-md-1" style="text-align: center;">~</div>
          <div class="col-md-4">
            <input type="text" class="form-control" formControlName="OffShelfDate" datePicker="full"/>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">建立时间</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="CreateDate" placeholder="" />
          </div>
        </div>

        <div class="form-group row" >
          <label class="col-md-3 col-form-label">排序<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="OrderNo"/>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('OrderNo').valid || mainForm.get('OrderNo').pristine">
                必填，限数字
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">状态<span class="redpoint">*</span></label>
          <div class="col-md-9 col-form-label">
            <div class="form-check float-left mr-15">
              <input class="form-check-input" type="radio" id="chkEnable" [value]="true" formControlName="Status" />
              <label class="form-check-label" for="chkEnable">启用</label>
            </div>
            <div class="form-check float-left mr-15">
              <input class="form-check-input" type="radio" id="chkDisable" [value]="false" formControlName="Status" />
              <label class="form-check-label" for="chkDisable">停用</label>
            </div>
          </div>
        </div>
      </div>

      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary mr-15" [disabled]="!mainForm.valid" litmit="C01,edit"><i class="fa fa-dot-circle-o"></i> 确认送出</button>
        <button type="submit" class="btn btn-sm btn-primary mr-15" [disabled]="!mainForm.valid" litmit="C01,add"><i class="fa fa-dot-circle-o"></i> 确认送出</button>
        <button *ngIf="mainForm.get('ID').value != null" type="button" class="btn btn-sm btn-danger mr-15" (click)="Delete()" litmit="C01,delete"><i class="fa fa-dot-circle-o"></i>删除</button>
        <button type="button" class="btn btn-sm btn-secondary" (click)="Cancel()"><i class="fa fa-ban"></i> 取消</button>
      </div>

    </form>

  </div>
</div>
