
<!-- 列表页 -->
<div class="animated fadeIn" *ngIf="!isEditor">
  <div class="card">
    <div class="card-header">保险商品管理</div>

    <div class="card-body">

      <div class="row">
        <div class="form-group col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-search"></i></span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="query.keyword" placeholder="搜寻保险名称、人身保险"/>
          </div>
        </div>
        <div class="form-group col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">状态</span>
            </div>
            <select class="form-control" [(ngModel)]="query.status">
              <option [value]="''">请选择</option>
              <option [value]="'true'">启用中</option>
              <option [value]="'false'">停用中</option>
            </select>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-12 form-group">
            <button type="button" style="margin-right: 10px" class="btn btn-primary" (click)="Submit()"><i class="fa fa-dot-circle-o"></i> 送出查询</button>
            <button type="reset" class="btn btn-primary btn-danger" (click)="Reset()"><i class="fa fa-ban"></i> 清除</button>
            <button type="button" style="margin-left: 10px" class="btn btn-success" (click)="Export()"><i class="fa fa-print"></i> 汇出</button>
        </div>
      </div>

      <div class="form-group float-right">
        <button type="button" style="margin-right: 10px" class="btn btn-primary btn-outline-success active" (click)="Create()" litmit="C08,add">新增</button>
      </div>

      <datatable [Source]="list" [Setting]="tableSet"></datatable>

    </div>
  </div>
</div>

<!-- 编辑页 -->
<div class="animated fadeIn" *ngIf="isEditor">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-6">
          保险商品管理 / <strong>{{mainForm.get('ID').value == null ? '新增' : '编辑'}}</strong>
        </div>
        <div class="col-md-6" style="text-align: right;">
          <button type="button" class="btn btn-sm btn-success" (click)="Cancel()"><i class="fa fa-chevron-left"></i>返回</button>
        </div>
      </div>
    </div>

    <form class="form-horizontal" [formGroup]="mainForm" (ngSubmit)="SubmitForm()">

      <div class="card-body">

        <div class="form-group row">
          <label class="col-md-3 col-form-label">ID<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <input type="number" class="form-control" formControlName="ID" readonly="readonly"/>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">保险名称<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="Name"/>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('Name').valid || mainForm.get('Name').pristine">
                必填
              </span>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label">保险名称(英文)<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="NameEn"/>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('NameEn').valid || mainForm.get('NameEn').pristine">
                必填
              </span>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label">人身保险<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="TypeName"/>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('TypeName').valid || mainForm.get('TypeName').pristine">
                必填
              </span>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label">人身保险(英文)<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="TypeNameEn"/>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('TypeNameEn').valid || mainForm.get('TypeNameEn').pristine">
                必填
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">状态<span class="redpoint">*</span></label>
          <div class="col-md-9 col-form-label">

            <div class="form-check float-left mr-15">
              <input class="form-check-input" type="radio" id="checkboxall" [value]="true" formControlName="Status"/>
              <label class="form-check-label" for="checkboxall">启用中</label>
            </div>

            <div class="form-check float-left">
                <input class="form-check-input" type="radio" id="checkboxal2" [value]="false" formControlName="Status"/>
                <label class="form-check-label" for="checkboxal2">停用中</label>
            </div>
           
          </div>
      </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">备注</label>
          <div class="col-md-9">
            <textarea type="text" class="form-control" rows="6" formControlName="Note"></textarea>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">建立时间</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="CreateDate" placeholder="" />
          </div>
        </div>
      </div>
      
      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary mr-15" [disabled]="!mainForm.valid" litmit="C08,edit"><i class="fa fa-dot-circle-o"></i> 确认送出</button>
        <button type="submit" class="btn btn-sm btn-primary mr-15" [disabled]="!mainForm.valid" litmit="C08,add"><i class="fa fa-dot-circle-o"></i> 确认送出</button>
        <button *ngIf="mainForm.get('ID').value != null" type="button" class="btn btn-sm btn-danger mr-15" (click)="Delete()" litmit="C08,delete"><i class="fa fa-dot-circle-o"></i>删除</button>
        <button type="button" class="btn btn-sm btn-secondary" (click)="Cancel()"><i class="fa fa-ban"></i> 取消</button>
      </div>

    </form>

  </div>
</div>
