<!-- 列表页 -->
<div class="animated fadeIn" *ngIf="!isEditor">
  <div class="card">
    <div class="card-header">
      地产销售管理
    </div>

    <div class="card-body">

      <div class="row">

        <div class="form-group col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-search"></i></span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="query.keyword" placeholder="搜寻物件ID、购买人ID、渠道、购买人姓名、物件名称"/>
          </div>
        </div>

        <div class="form-group col-md-6">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">楼层</span>
              </div>
              <input type="text" class="form-control" [(ngModel)]="query.floor" placeholder="搜寻楼层"/>
            </div>
          </div>

      </div>

      <div class="row">

        <div class="form-group col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">房型</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="query.room" placeholder="搜寻房型"/>
          </div>
        </div>

        <div class="form-group col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">建立时间</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="query.startDate" datePickerNgModel/>
            <span class="dayTo">~</span>
            <input type="text" class="form-control" [(ngModel)]="query.endDate" datePickerNgModel/>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="form-group col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">租赁状态</span>
            </div>
            <select class="form-control" [(ngModel)]="query.type">
              <option [value]="''">请选择</option>
              <option [value]="'0'">未签约</option>
              <option [value]="'1'">出租中</option>
              <option [value]="'2'">待租中</option>
            </select>
          </div>
        </div>
        <div class="form-group col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">状态</span>
            </div>
            <select class="form-control" [(ngModel)]="query.status">
              <option [value]="''">请选择</option>
              <option [value]="true">启用</option>
              <option [value]="false">停用</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 form-group">
            <button type="button" style="margin-right: 10px" class="btn btn-primary" (click)="Submit()"><i class="fa fa-dot-circle-o"></i> 送出查询</button>
            <button type="reset" class="btn btn-primary btn-danger" (click)="Reset()"><i class="fa fa-ban"></i> 清除</button>
            <button type="button" style="margin-left: 10px" class="btn btn-success" (click)="Export()"><i class="fa fa-print"></i> 汇出</button>
            <button type="button" litmit="B04,add" style="margin-left: 10px" class="btn btn-warning" (click)="Import()"><i class="fa fa-print"></i> 汇入</button>
            <button type="button" litmit="B04,add" style="margin-left: 10px" class="btn" (click)="Sample()"><i class="fa fa-print"></i> 汇入範本下載</button>
          </div>
      </div>

      <div class="form-group float-right">
        <button type="button" style="margin-right: 10px" class="btn btn-primary btn-outline-success active" (click)="Create()" litmit="B04,add">新增</button>
      </div>

      <datatable [Source]="list" [Setting]="tableSet"></datatable>

    </div>
  </div>
</div>

<!-- 编辑页 -->
<div class="animated fadeIn" *ngIf="isEditor">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-6">
          地产销售管理 / <strong>{{mainForm.get('ID').value == null ? '新增' : '编辑'}}</strong>
        </div>
        <div class="col-md-6" style="text-align: right;">
          <button type="button" class="btn btn-sm btn-success" (click)="Cancel()"><i class="fa fa-chevron-left"></i>返回</button>
        </div>
      </div>
    </div>

    <form class="form-horizontal" [formGroup]="mainForm" (ngSubmit)="SubmitForm()">

      <div class="card-body">
        <div class="form-group row">
          <label class="col-md-3 col-form-label">物件ID<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="EstateNo"/>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('EstateNo').valid || mainForm.get('EstateNo').pristine">
                必填
              </span>
            </div>
          </div>
        </div>

        <!-- <div class="form-group row">
          <label class="col-md-3 col-form-label">购买人ID<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="UserIdentityNo"/>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('UserIdentityNo').valid || mainForm.get('UserIdentityNo').pristine">
                必填
              </span>
            </div>
          </div>
        </div> -->
        <div class="form-group row">
            <label class="col-md-3 col-form-label">交屋状态<span class="redpoint">*</span></label>
            <div class="col-md-9 col-form-label">
              <div class="form-check float-left mr-15">
                <input class="form-check-input" type="radio" id="IsFinish1" [value]="'1'" formControlName="IsFinish" />
                <label class="form-check-label" for="IsFinish1">未交屋</label>
              </div>
              <div class="form-check float-left mr-15">
                <input class="form-check-input" type="radio" id="IsFinish2" [value]="'2'" formControlName="IsFinish" />
                <label class="form-check-label" for="IsFinish2">已交屋</label>
              </div>
            </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">购买人ID<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <tag-input [Selected]="mainForm.get('UserIdentityNo')" [DataList]="idnolist"></tag-input>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('UserIdentityNo').valid || mainForm.get('UserIdentityNo').pristine">
                必填
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">所属渠道</label>
          <div class="col-md-9">
            <tag-input [Selected]="mainForm.get('Channel')" [DataList]="Channel" [Create]="false"></tag-input>
          </div>
        </div>

        <!-- <div class="form-group row">
          <label class="col-md-3 col-form-label">所属渠道</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="Channel"/>
          </div>
        </div> -->

        <div class="form-group row">
          <label class="col-md-3 col-form-label">购买人姓名<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="BuyerName"/>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('BuyerName').valid || mainForm.get('BuyerName').pristine">
                必填
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">物件名称<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <select class="form-control" formControlName="EstateObjID">
              <option [value]="''">请选择</option>
              <option *ngFor="let estateObj of estateObjList" [value]="estateObj.ID">{{estateObj.Name}}</option>
            </select>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('EstateObjID').valid || mainForm.get('EstateObjID').pristine">
                必填
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">房型<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <select class="form-control" formControlName="EstateRoomID">
              <option [value]="''">请选择</option>
              <option *ngFor="let estateRoom of estateRoomList" [value]="estateRoom.ID">{{estateRoom.Name}}</option>
            </select>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('EstateRoomID').valid || mainForm.get('EstateRoomID').pristine">
                必填
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">地址<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="Addr"/>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('Addr').valid || mainForm.get('Addr').pristine">
                必填
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">楼层<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="Floor"/>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('Floor').valid || mainForm.get('Floor').pristine">
                必填
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">单位面积</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="UnitArea"/>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">套内面积</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="RoomArea"/>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">公设面积</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="PublicArea"/>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">购买总价</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="PriceSum"/>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">销售合约</label>
          <div class="col-md-9">
            <file-upload  [Source]="mainForm.get('DealFile')" [Type]="'pdf'"></file-upload>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">签约日期</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="SignDate" datePicker/>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">系统通知缴款<span class="redpoint">*</span></label>
          <div class="col-md-9 col-form-label">
            <div class="form-check float-left mr-15">
              <input class="form-check-input" formControlName ="IsPush" type="radio" id="chkEnableNotice" [value]="true"/>
              <label class="form-check-label" for="chkEnableNotice">启用</label>
            </div>
            <div class="form-check float-left mr-15">
              <input class="form-check-input" formControlName ="IsPush" type="radio" id="chkDisableNotice" [value]="false"/>
              <label class="form-check-label" for="chkDisableNotice">停用</label>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">是否有车位<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <select class="form-control" formControlName="ParkingType">
              <option [value]="''">请选择</option>
              <option [value]="'1'">无车位</option>
              <option [value]="'2'">有车位</option>
              <option [value]="'3'">有车位，含於总价</option>
            </select>
          </div>
        </div>
  
        <div class="form-group row" [hidden]="mainForm.get('ParkingType').value == '1'">
          <label class="col-md-3 col-form-label">车位价格<span class="redpoint">*</span></label>
          <div class="col-md-9">
              <input type="text" class="form-control" formControlName="ParkingPrice"/>
              <div class="col-md-12">
                <span class="help-block" [hidden]="mainForm.get('ParkingPrice').valid || mainForm.get('ParkingPrice').pristine">
                  必填
                </span>
              </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">租赁状态</label>
          <div class="col-md-9">
              <input type="text" class="form-control" formControlName="RentStatus"/>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">建立时间</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="CreateDate" placeholder="" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">状态</label>
          <div class="col-md-9 col-form-label">
            <div class="form-check float-left mr-15">
              <input class="form-check-input" type="radio" id="chkEnable" [value]="true" formControlName="Status" />
              <label class="form-check-label" for="chkEnable">启用</label>
            </div>
            <div class="form-check float-left mr-15">
              <input class="form-check-input" type="radio" id="chkDisable" [value]="false" formControlName="Status" />
              <label class="form-check-label" for="chkDisable">停用</label>
            </div>
          </div>
        </div>
      </div>

      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary mr-15" [disabled]="!mainForm.valid" litmit="B04,add"><i class="fa fa-dot-circle-o"></i> 确认送出</button>
        <button type="submit" class="btn btn-sm btn-primary mr-15" [disabled]="!mainForm.valid" litmit="B04,edit"><i class="fa fa-dot-circle-o"></i> 确认送出</button>
        
        <button *ngIf="mainForm.get('ID').value != null" type="button" class="btn btn-sm btn-danger mr-15" (click)="Delete()" litmit="B04,delete"><i class="fa fa-dot-circle-o"></i>删除</button>
        <button type="button" class="btn btn-sm btn-secondary" (click)="Cancel()"><i class="fa fa-ban"></i> 取消</button>
      </div>

    </form>

  </div>
</div>
