<!-- 物件基本资料页 -->
<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-6">
        地产基本资料
      </div>
      <div class="col-md-6" style="text-align: right;">
        <button type="button" class="btn btn-sm btn-success" (click)="ReturnC01()"><i class="fa fa-chevron-left"></i>返回列表</button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">物件名称: <strong>{{tempEstate.Name}}</strong></div>
      <div class="col-md-6">国家: <strong>{{tempEstate.Country}}</strong></div>
    </div>
    <div class="row">
      <div class="col-md-6">价格: <strong>{{tempEstate.Price}}</strong></div>
      <div class="col-md-6">销售类型: <strong>{{tempEstate.SaleType}}</strong></div>
    </div>
  </div>
</div>

<!-- 列表页 -->
<div class="animated fadeIn" *ngIf="!isEditor">
  <div class="card">
    <div class="card-header">
      房型管理
    </div>
    
    <div class="card-body">

      <div class="row">
        <div class="form-group col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-search"></i></span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="query.keyword" placeholder="搜寻名称、楼层、面积"/>
          </div>
        </div>
        <div class="form-group col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">建立时间</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="query.startDate" datePickerNgModel/>
            <span class="dayTo">~</span>
            <input type="text" class="form-control" [(ngModel)]="query.endDate" datePickerNgModel/>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 form-group">
            <button type="button" style="margin-right: 10px" class="btn btn-primary" (click)="Submit()"><i class="fa fa-dot-circle-o"></i> 送出查询</button>
            <button type="reset" class="btn btn-primary btn-danger" (click)="Reset()"><i class="fa fa-ban"></i> 清除</button>
        </div>
      </div>

      <div class="form-group float-right">
        <button type="button" style="margin-right: 10px" class="btn btn-primary btn-outline-success active" (click)="Create()" litmit="C02,add">新增</button>
      </div>

      <datatable [Source]="list" [Setting]="tableSet"></datatable>

    </div>
  </div>
</div>

<!-- 编辑页 -->
<div class="animated fadeIn" *ngIf="isEditor">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-6">
          房型管理 / <strong>{{mainForm.get('ID').value == null ? '新增' : '编辑'}}</strong>
        </div>
        <div class="col-md-6" style="text-align: right;">
          <button type="button" class="btn btn-sm btn-success" (click)="Cancel()"><i class="fa fa-chevron-left"></i>返回</button>
        </div>
      </div>
    </div>

    <form class="form-horizontal" [formGroup]="mainForm" (ngSubmit)="SubmitForm()">

      <div class="card-body">
        <div class="form-group row">
          <label class="col-md-3 col-form-label">房型名称<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="Name"/>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('Name').valid || mainForm.get('Name').pristine">
                必填
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">列表简述</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="Brief"/>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">涵盖楼层</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="FloorDesc" placeholder="ex: 2-18F"/>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">面积</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="Area"/>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">图片<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <file-upload  [Source]="mainForm.get('Img')"></file-upload>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('Img').valid || mainForm.get('Img').pristine">
                请上传图片
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">建立时间</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="CreateDate" placeholder="" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">排序<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="OrderNo"/>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('OrderNo').valid || mainForm.get('OrderNo').pristine">
                必填，限数字
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary mr-15" [disabled]="!mainForm.valid" litmit="C02,edit"><i class="fa fa-dot-circle-o"></i> 确认送出</button>
        <button type="submit" class="btn btn-sm btn-primary mr-15" [disabled]="!mainForm.valid" litmit="C02,add"><i class="fa fa-dot-circle-o"></i> 确认送出</button>
        <button *ngIf="mainForm.get('ID').value != null" type="button" class="btn btn-sm btn-danger mr-15" (click)="Delete()" litmit="C02,delete"><i class="fa fa-dot-circle-o"></i>删除</button>
        <button type="button" class="btn btn-sm btn-secondary" (click)="Cancel()"><i class="fa fa-ban"></i> 取消</button>
      </div>

    </form>

  </div>
</div>
