<div class="animated fadeIn" *ngIf="!IsEditor">
    <div class="card">
      <div class="card-header">
        帐号管理
      </div>
      
      <div class="card-body">

        <div class="row">
          <div class="form-group col-md-6">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-search"></i></span>
              </div>
              <input type="text" class="form-control" [(ngModel)]="Query.keyword" placeholder="搜寻帐号、人员名称"/>
            </div>
          </div>
          <div class="form-group col-md-6">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">状态</span>
              </div>
              <select class="form-control" [(ngModel)]="Query.status">
                <option [value]="''">请选择</option>
                <option [value]="true">启用</option>
                <option [value]="false">停用</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
            <div class="col-md-12 form-group">
                <button type="button" style="margin-right: 10px" class="btn btn-primary" (click)="Submit()"><i class="fa fa-dot-circle-o"></i> 送出查询</button>
                <button type="reset" class="btn btn-primary btn-danger" (click)="Reset()"><i class="fa fa-ban"></i> 清除</button>
                
                <button type="button" style="margin-left: 10px" class="btn btn-success" (click)="Export()"><i class="fa fa-print"></i> 汇出</button>
                
            </div>
        </div>
        
        <div class="form-group float-right">
            <button type="button" style="margin-right: 10px" class="btn btn-primary btn-outline-success active" (click)="Create()" litmit="A01,add">新增</button>
        </div>

        <datatable [Source]="Data" [Setting]="TableSet"></datatable>

      </div>

    </div>
</div>
  
<!-- 新增修改 -->
<div class="animated fadeIn" *ngIf="IsEditor">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-6">
          帐号管理 / <strong>{{mainForm.get('ID').value == null ? '新增' : '编辑'}}</strong>
        </div>
        <div class="col-md-6" style="text-align: right;">
          <button type="button" class="btn btn-sm btn-success" (click)="Cancel()"><i class="fa fa-chevron-left"></i>返回</button>
        </div>
      </div>
    </div>
    <!-- <div class="card">
      <div class="card-header">
          帐号管理 / <strong>{{mainForm.get('ID').value == null ? '新增' : '编辑'}}</strong>
      </div> -->


      <form class="form-horizontal" [formGroup]="mainForm" (ngSubmit)="FormSubmit()">

      <div class="card-body">

        <div class="form-group row">
          <label class="col-md-3 col-form-label">ID</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="ID"/>
          </div>
        </div>

            <div class="form-group row">

              <label class="col-md-3 col-form-label">帐号<span class="redpoint">*</span></label>

              <div class="col-md-9">
                <input type="text" class="form-control" formControlName="Act" placeholder="请输入帐号" required>
                <div class="col-md-12">
                  <span class="help-block" [hidden]="mainForm.get('Act').valid || mainForm.get('Act').pristine" >
                    4-16个字元 支援英文或数字
                  </span>
                </div>
              </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label">人员名称<span class="redpoint">*</span></label>
                <div class="col-md-9">
                  <input type="text" class="form-control" formControlName="Name" placeholder="请输入名称" required/>
                </div>
            </div>

            <div class="form-group row">

                <label class="col-md-3 col-form-label">密码<span *ngIf="mainForm.get('ID').value == null" class="redpoint">*</span></label>

                <div class="col-md-9">
                  <input type="text" class="form-control" formControlName="Pwd" placeholder="限英文、数字，至少六个字元"/>
                  <div class="col-md-12">
                      <span class="help-block" [hidden]="mainForm.get('Pwd').valid || mainForm.get('Pwd').pristine" >
                          必填，限英文、数字，6-16个字元
                        </span>
                  </div>
                </div>

            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label">状态</label>
                <div class="col-md-9 col-form-label">

                  <div class="form-check float-left mr-15">
                    <input class="form-check-input" type="radio" id="checkboxall" [value]="true" formControlName="Status"/>
                    <label class="form-check-label" for="checkboxall">启用中</label>
                  </div>

                  <div class="form-check float-left">
                      <input class="form-check-input" type="radio" id="checkboxal2" [value]="false" formControlName="Status"/>
                      <label class="form-check-label" for="checkboxal2">停用中</label>
                  </div>
                 
                </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label">建立时间</label>
              <div class="col-md-9">
                <input type="text" class="form-control" formControlName="CreateDate" placeholder="" />
              </div>
            </div>

            <span style="margin-right:1rem;">权限设定</span>
            <label class="btn btn-sm btn-primary btn-outline-success" (click)="CheckAll()">全部勾选</label>
            <hr>
            <div class="form-group row">
                <ng-container *ngFor="let fctrl of mainForm.get('Permission').value; let _index = index">
                    <label class="col-md-3">{{fctrl['FuncCode'].value}}.{{fctrl['Name'].value}}</label>
                    <div class="form-group row col-md-9">
                        <div class="checkbox" style="width: 16.66666667%;">
                            <label class="btn btn-sm btn-primary btn-outline-success" (click)="CheckRow(fctrl)">全选</label>
                         </div>
                         <div class="checkbox" style="width: 16.66666667%;">
                            <label>
                            <input type="checkbox" [formControl]="fctrl['IsView']"/>浏览
                            </label>
                         </div>
                         <div class="checkbox" style="width: 16.66666667%;">
                            <label>
                                <input type="checkbox" [formControl]="fctrl['IsAdd']"/>新增
                            </label>
                         </div>
                         <div class="checkbox" style="width: 16.66666667%;">
                            <label>
                                <input type="checkbox" [formControl]="fctrl['IsEdit']"/>修改
                            </label>
                         </div>
                         <div class="checkbox" style="width: 16.66666667%;">
                            <label>
                                <input type="checkbox" [formControl]="fctrl['IsDelete']"/>删除
                            </label>
                         </div>
                    </div>
                </ng-container>
            </div>
            
         
        </div>
  
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary mr-15" [disabled]="!mainForm.valid" litmit="A01,add"><i class="fa fa-dot-circle-o"></i> 确认送出</button>
          <button type="submit" class="btn btn-sm btn-primary mr-15" [disabled]="!mainForm.valid" litmit="A01,edit"><i class="fa fa-dot-circle-o"></i> 确认送出</button>
          
          <button type="button" class="btn btn-sm btn-danger mr-15" 
           *ngIf="mainForm.get('ID').value != null" (click)="Delete()" litmit="A01,delete">
           <i class="fa fa-dot-circle-o"></i>删除
          </button>
          <button type="button" class="btn btn-sm btn-secondary  mr-15" (click)="Cancel()"><i class="fa fa-ban"></i> 取消</button>
        </div>

      </form>


    
   
    </div>

</div>
