

<ng-container *ngIf="DataList">
    <div class="form-check float-left mr-15" *ngFor="let opt of getformArr.controls; let i = index">
        <input class="form-check-input" type="checkbox" id="chk{{Options[i].Code}}{{i}}"
         [value]="Options[i].OptionValue" [formControl]="opt" (change)="Check()"/>
        <label class="form-check-label" for="chk{{Options[i].Code}}{{i}}">{{Options[i].Name}}</label>
    </div>
</ng-container>
