﻿@{
    Layout = null;
    string msg = (TempData["msg"] == null) ? "Verify Success！" : (string)TempData["msg"];
}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- web fullscreen -->
    <meta name="apple-mobile-web-app-capable" content="yes"><!-- ios -->
    <meta name="mobile-web-app-capable" content="yes"><!-- android -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=0" />
    <meta name="format-detection" content="telephone=no">
    <title>TitanStone</title>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/assets/css/reset.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/assets/css/main.css")">
    <style>
        .rctmail h1 {
            margin-top: 30vh;
            font-size: 1.5rem;
            text-align: center;
        }

        .rctmail .icon {
            width: 5rem;
            height: 5rem;
            margin: 2rem auto;
            border: 1px solid #E0E0E0;
            border-radius: 4rem;
            text-align: center;
            line-height: 6.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .base{width:100%;}
    </style>
</head>
<body>
    <div id="main">

        <div class="header mainbg">
            <div class="left"></div>
            <div class="center"></div>
            <div class="right">
            </div>
        </div>

        <div class="raw base login bg_gray">


            <div class="row rctmail">
                <h1>@msg</h1>
                <div class="icon">
                    <img src="@Url.Content("~/Content/assets/img/mail.png")">
                </div>
            </div>

        </div>
    </div>
</body>

