﻿@{
    //ViewBag.Title = "Home Page";
}
<style>
    .dowmload {
        position: absolute;
        top: 40vh;
        display: inline-flex;
        width: 50vw;
        left: 25vw;
        align-items: center;
        justify-content: space-around;
    }

    .app {
        width: 6rem;
        height: 6rem;
        border: 1px solid #fff;
        border-radius: 6rem;
        position: relative;
        transition: all 0.5s ease;
        box-sizing: border-box;
    }

        .app:hover {
            border: 3px solid #fff;
            background-color: rgba(255, 255, 255, 0.25);
        }

        .app img {
            width: 100%;
        }

    .info {
        color: #fff;
        font-size: 1rem;
        width: 2rem;
        height: 1rem;
        position: absolute;
        left: 1vw;
        bottom: 1rem;
    }

    .public {
        color: #fff;
        bottom: -2rem;
        display: inline-block;
        width: 10rem;
        height: 1rem;
        text-align: center;
        position: absolute;
        left: -2rem;
    }

    @@media screen and (max-width: 767px) {
        .dowmload {
            display: inline-block;
            top: 10vh;
        }

        .app {
            margin: 4rem auto;
        }
    }
</style>
<div class="dowmload">
    <a href="https://www.dropbox.com/s/yvhttiywntoxnb2/StoneDemo.apk?dl=0" target="_blank">
        <div class="app">
            <img src="@Url.Content("~/Content/images/android.png")" />
            <span class="public">2020.06.05(2) public</span>
        </div>
    </a>

    <a href="itms-services://?action=download-manifest&url=https://dl.dropboxusercontent.com/s/9akr1s3qvqj36d7/StoneDemo.plist" target="_blank">
        <div class="app">
            <img src="@Url.Content("~/Content/images/ios.png")" />
            <span class="public">2020.05.19 public</span>
        </div>
    </a>
</div>
@*@CoreWeb.Lib.FileLib.rootUrl*@
<div class="info">1.0.2</div>
