﻿@*<div class="reset">
    <form action="@Url.Content("~/Home/PwdSave")" id="mainForm">
        <input type="hidden" name="Param" value="@TempData["Param"]" />
        @TempData["Name"] 你好！<br />
        請重新設定您的密碼，<br />
        密碼為英文字母或數字<br />
        <span style="color:red">長度至少為6個字元</span><br />
        
        <button onclick="return _submit()">確認送出</button>
        <div style="clear:both"></div>
    </form>
</div>*@
@{
    Layout = null;
    string msg = (TempData["msg"] == null) ? "Verify Success！" : (string)TempData["msg"];
}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- web fullscreen -->
    <meta name="apple-mobile-web-app-capable" content="yes"><!-- ios -->
    <meta name="mobile-web-app-capable" content="yes"><!-- android -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=0" />
    <meta name="format-detection" content="telephone=no">
    <title>TitanStone</title>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/assets/css/reset.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/assets/css/main.css")">
    <script src="@Url.Content("~/Content/jquery.min.js")"></script>
    <style>
        .rctmail h1 {
            margin-top: 30vh;
            font-size: 1.5rem;
            text-align: center;
        }

        .rctmail .icon {
            width: 5rem;
            height: 5rem;
            margin: 2rem auto;
            border: 1px solid #E0E0E0;
            border-radius: 4rem;
            text-align: center;
            line-height: 6.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .base {
            width: 100%;
        }
    </style>
</head>
<body>
    <div id="main">

        <div class="header mainbg">
            <div class="left"></div>
            <div class="center">修改密码</div>
            <div class="right"></div>
        </div>

        <div class="raw base content bg_gray">

            <div class="lock">

            </div>
            <!-- Form -->
            <form style="padding-bottom: 3rem;" action="@Url.Content("~/Home/PwdSave")" autocomplete="off">

                @*<div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label>原密码</label>
                            <input type="text" class="form-control" placeholder="请输入原密码">
                        </div>
                    </div>
                </div>*@
                <input type="hidden" name="Param" value="@TempData["Param"]" />
                <input type="hidden" name="Param" value="@TempData["Lang"]" />
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label>设定新密码</label>
                            <input class="form-control" placeholder="請輸入新密碼(请输入6-16碼英數字)" type="password" name="pwd1" id="pwd1" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label>确认新密码</label>
                            @*<input type="text" class="form-control" placeholder="请再次输入密码">*@
                            <input class="form-control" placeholder="請再次輸入新密碼" type="password" id="pwd2" />
                        </div>
                    </div>
                </div>

                <center style="margin-top: 1rem;">
                    <button class="btn-golden" onclick="return _submit()">确认变更</button>
                </center>
            </form>

        </div>
    </div>
</body>

<script>
    function _submit() {
        var p1 = $('#pwd1').val();
        var p2 = $('#pwd2').val();
        if (p1 != '' && p1 == p2 && p2 != '') {

            //正则判断密码字段为6-20位的字母和数字
            var regp = /^[A-Za-z0-9]*$/;
            if (!regp.test(p1) || p1.length < 6 || p1.length > 20) {
                alert('密碼必須為6-20位的英文字母或數字');
                return false;
            } else {
                return true;
            }

        } else {
            if (p1 == '') {
                alert('密碼不能為空，請重新輸入');
                return false;
            } else {
                alert('兩次密碼不一致，請重新輸入');
                return false;
            }
        }

    }
</script>