﻿@{
    string type = ViewBag.Type;
    string id = ViewBag.ID;
    type = (string.IsNullOrEmpty(type)) ? "" : type;
    id = (string.IsNullOrEmpty(id)) ? "" : id;
    string Content = ViewBag.Content;
}
<style>
    .share{width:100vw;height:100vh;display:flex;}
    a#Pram {
        color: #fff;
        display: block;
        margin: auto;
        padding: 1rem;
        border: 1px solid;
        border-radius: 0.5rem;
        text-decoration: blink;
    }
</style>
<div class="share">
    @{ 
        var UrlSchema = "titanstone";
        if (!CoreWeb.Lib.AppSetting.DebugMode())
        {
            UrlSchema = "titandemo";
        }
    }
    <a href="@UrlSchema://openapp?type=@type&id=@id" id="Pram">@Content</a>
</div>


<script>
    console.log('DebugMode','@CoreWeb.Lib.AppSetting.DebugMode()');
    ////創建一個隱藏的iframe
    //var ifr = document.createElement('iframe');
    //ifr.src = 'demoapp://openapp';
    //ifr.style.display = 'none';
    //document.body.appendChild(ifr);
    ////記錄喚醒時間
    //var openTime = +new Date();
    //window.setTimeout(function () {
    //    document.body.removeChild(ifr);
    //    //如果setTimeout 回調超過2500ms，則彈出下載
    //    if ((+new Date()) - openTime > 2500) {
    //        window.location = 'http://exam.com/xxxx.apk';
    //    }
    //}, 2000)

    @*var redirect = false;
    
    setTimeout(function () {
        alert('redirect');
         window.open("demoapp://openapp?type=@type&id=@id");
    },500);
    window.onblur = function () {
        redirect = true;
        window.close();
    };*@
    //setTimeout(function () {
    //    window.location.href = '/'; //這邊放跳轉網址
    //},500);
</script>