﻿

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- web fullscreen -->
    <meta name="apple-mobile-web-app-capable" content="yes"><!-- ios -->
    <meta name="mobile-web-app-capable" content="yes"><!-- android -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=0" />
    <meta name="format-detection" content="telephone=no">
    <title>TitanStone</title>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/assets/css/reset.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/assets/css/main.css")">
    <style>
        .rctmail {
            color: 545454;
            line-height:1.5rem;
        }
    </style>
</head>

<body>
    <div id="main">

        <div class="header mainbg">
            <div class="left">

            </div>
            <div class="center">隱私條款_巨石</div>
            <div class="right">
            </div>
        </div>

        <div class="raw base login bg_gray">
            <div class="row rctmail">
                非常欢迎您光临「巨石地产」（以下简称本网站），为了让您能够安心的使用本网站的各项服务与资讯，特此向您说明本网站的隐私权保护政策，以保障您的权益，请您详阅下列内容：<br />
                <br />
                一、隐私权保护政策的适用范围<br />
                隐私权保护政策内容，包括本网站如何处理在您使用网站服务时收集到的个人识别资料。隐私权保护政策不适用於本网站以外的相关连结网站，也不适用於非本网站所委托或参与管理的人员。<br />
                <br />
                二、个人资料的蒐集、处理及利用方式<br />
                当您造访本网站或使用本网站所提供之功能服务时，我们将视该服务功能性质，请您提供必要的个人资料，并在该特定目的范围内处理及利用您的个人资料；非经您书面同意，本网站不会将个人资料用於其他用途。<br />
                本网站在您使用服务信箱、问卷调查等互动性功能时，会保留您所提供的姓名、电子邮件地址、联络方式及使用时间等。<br />
                於一般浏览时，伺服器会自行记录相关行径，包括您使用连线设备的IP位址、使用时间、使用的浏览器、浏览及点选资料记录等，做为我们增进网站服务的参考依据，此记录为内部应用，决不对外公布。<br />
                为提供精确的服务，我们会将收集的问卷调查内容进行统计与分析，分析结果之统计数据或说明文字呈现，除供内部研究外，我们会视需要公布统计数据及说明文字，但不涉及特定个人之资料。<br />
                <br />
                三、资料之保护<br />
                本网站主机均设有防火墙、防毒系统等相关的各项资讯安全设备及必要的安全防护措施，加以保护网站及您的个人资料采用严格的保护措施，只由经过授权的人员才能接触您的个人资料，相关处理人员皆签有保密合约，如有违反保密义务者，将会受到相关的法律处分。<br />
                如因业务需要有必要委托其他单位提供服务时，本网站亦会严格要求其遵守保密义务，并且采取必要检查程序以确定其将确实遵守。<br />
                <br />
                四、网站对外的相关连结<br />
                本网站的网页提供其他网站的网路连结，您也可经由本网站所提供的连结，点选进入其他网站。但该连结网站不适用本网站的隐私权保护政策，您必须参考该连结网站中的隐私权保护政策。<br />
                <br />
                五、与第三人共用个人资料之政策<br />
                本网站绝不会提供、交换、出租或出售任何您的个人资料给其他个人、团体、私人企业或公务机关，但有法律依据或合约义务者，不在此限。<br />
                <br />
                前项但书之情形包括不限於：<br />
                经由您书面同意。<br />
                法律明文规定。<br />
                为免除您生命、身体、自由或财产上之危险。<br />
                与公务机关或学术研究机构合作，基於公共利益为统计或学术研究而有必要，且资料经过提供者处理或蒐集者依其揭露方式无从识别特定之当事人。<br />
                当您在网站的行为，违反服务条款或可能损害或妨碍网站与其他使用者权益或导致任何人遭受损害时，经网站管理单位研析揭露您的个人资料是为了辨识、联络或采取法律行动所必要者。<br />
                有利於您的权益。<br />
                本网站委托厂商协助蒐集、处理或利用您的个人资料时，将对委外厂商或个人善尽监督管理之责。<br />
                <br />
                六、Cookie之使用<br />
                为了提供您最佳的服务，本网站会在您的电脑中放置并取用我们的Cookie，若您不愿接受Cookie的写入，您可在您使用的浏览器功能项中设定隐私权等级为高，即可拒绝Cookie的写入，但可能会导致网站某些功能无法正常执行 。<br />
               <br />
                七、极光SDK(Jiguang SDK)<br />
                为了使用者最佳体验，我们使用极光SDK进行推播服务，极光SDK可能收集您终端用户的设备属性信息（硬件序列号、唯一设备标识符、国际移动设备身份码IMEI、网络设备硬件MAC地址、软件列表、IMSI信息、广告标识符IDFA），设备连接信息（浏览器类型、电信运营商、使用的语言）以及设备状态信息（设备传感器数据，设备应用安装列表）用于安全事件调查，以及用于检测和防止垃圾邮件或欺诈活动，以及检测和防止网络攻击和滥用，以保障网络安全和运营安全。<br />
               <br />
                八、隐私权保护政策之修正<br />
                本网站隐私权保护政策将因应需求随时进行修正，修正後的条款将刊登於网站上。<br />
            </div>

        </div>
    </div>
</body>