
<style>
    .shadow_bg{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 9999;
    }
    .shadow_bg .album{
        width: 75vw;height: 60vh;
        position: relative;
        z-index: 10000;
    }
    .shadow_bg .album .card-body{
        min-height: 60vh;
        overflow-x:hidden;overflow-y: scroll;
    }
    .fileupload{display:inline-block;border: 1px solid #ddd;padding: 5px;cursor: pointer;margin-left: 10px;}
    .album .pic{width: 25%;display: inline-block;box-sizing: border-box;position: relative;}
    .pic img{width: 100%;padding: 5px;}
    .pic .del{width: 30px;height: 30px;text-align: center;position: absolute;right: 0;background: #fff;
    border: 1px solid #ddd;border-radius: 27px;line-height: 30px;cursor: pointer;}
</style>
<div class="shadow_bg" *ngIf="open">
        <div class="album animated fadeIn">
                <div class="card">
                  <div class="card-header">
                    图片资料管理
                    <div class="fileupload" (click)="UploadHandler()">fileUpload</div>
                    <button type="button" style="float:right;margin-left: 5px;" class="btn btn-primary btn-outline-success active" (click)="Save()">储存</button>
                    <button type="button" style="float:right;" class="btn btn-primary btn-outline-danger active" (click)="Cancel()">取消</button>
                  </div>
                  <div class="card-body">
                        
                        <div class="raw" *ngIf="fileUrl">

                            <div class="pic" *ngFor="let item of fileUrl; let _index = index">
                               <div class="del" (click)="delete(_index)">
                                    <i class="fa fa-trash fa-lg"></i>
                               </div>
                               <img [src]="item"/>
                            </div>
                        </div>
                  </div>
                </div>
        </div>
</div>
