<div class="fileupd" *ngIf="Type != 'pdf'">
    <img *ngIf="fileUrl != ''" [src]="fileUrl">{{fileName}}
    <div (click)="UploadHandler()">fileUpload</div>
</div>
<span *ngIf="Type != 'pdf'" style="color:red;">请上传 长宽比例1:1 ~ 1:1.25(宽度960px内，解析度72dpi)之.jpg或.png图片档,<br/>已达最佳设计显示效果</span>
<div class="fileupd" *ngIf="Type == 'pdf'">
    <a *ngIf="fileUrl != ''" href="{{fileUrl}}" target="_blank"><i class="fa fa-file-pdf-o"></i>{{fileName}}</a>
    <div (click)="UploadHandler()">fileUpload</div>
</div>


