<div class="fileupd">
    <img style="width: 40px;height: auto;" *ngIf="fileUrl != ''" [src]="fileUrl">
    <div (click)="UploadHandler()">
        <i class="fa fa-cloud-upload"
        style="color:#1e90f3;padding:3px 0;"
        ></i>
    </div>
</div>


