<!-- 列表页 -->
<div class="animated fadeIn" *ngIf="!isEditor">
  <div class="card">
    <div class="card-header">
      联络我们管理
    </div>

    <div class="card-body">

      <div class="row">
        <div class="form-group col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-search"></i></span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="query.keyword" placeholder="搜寻姓名、Email" />
          </div>
        </div>
        <div class="form-group col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">回复时间</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="query.startDate" datePickerNgModel />
            <span class="dayTo">~</span>
            <input type="text" class="form-control" [(ngModel)]="query.endDate" datePickerNgModel />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">国籍</span>
            </div>
            <select class="form-control" [(ngModel)]="query.country">
              <option [value]="''">请选择</option>
              <option *ngFor="let item of countries;" [value]="item.OptionValue">{{item.Name}}</option>
            </select>
          </div>
        </div>
        <div class="form-group col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">主题</span>
            </div>
            <select class="form-control" [(ngModel)]="query.subject">
              <option [value]="''">请选择</option>
              <option *ngFor="let item of contactList;" [value]="item.OptionValue">{{item.Name}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">处理状态</span>
            </div>
            <select class="form-control" [(ngModel)]="query.status">
              <option [value]="''">请选择</option>
              <option [value]="'1'">待处理</option>
              <option [value]="'2'">处理中</option>
              <option [value]="'3'">已处理</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 form-group">
          <button type="button" style="margin-right: 10px" class="btn btn-primary" (click)="Submit()"><i
              class="fa fa-dot-circle-o"></i> 送出查询</button>
          <button type="reset" class="btn btn-primary btn-danger" (click)="Reset()"><i class="fa fa-ban"></i>
            清除</button>
            <button type="button" style="margin-left: 10px" class="btn btn-success" (click)="Export()"><i class="fa fa-print"></i> 汇出</button>
        </div>
      </div>

      <datatable [Source]="list" [Setting]="tableSet"></datatable>

    </div>
  </div>
</div>

<!-- 编辑页 -->
<div class="animated fadeIn" *ngIf="isEditor">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-6">
            联络我们管理 / <strong>{{mainForm.get('ID').value == null ? '新增' : '编辑'}}</strong>
        </div>
        <div class="col-md-6" style="text-align: right;">
          <button type="button" class="btn btn-sm btn-success" (click)="Cancel()"><i
              class="fa fa-chevron-left"></i>返回</button>
        </div>
      </div>
    </div>
    <!-- <div class="card">
    <div class="card-header">
      联络我们管理 / <strong>编辑</strong>
    </div> -->

    <form class="form-horizontal" [formGroup]="mainForm" (ngSubmit)="SubmitForm()">

      <div class="card-body">
        <div class="form-group row">
          <label class="col-md-3 col-form-label">联络人姓名</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="Name" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">Email</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="Email" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">国籍</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="Country" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">联络电话</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="Phone" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">Line/WeChatID</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="SocialID" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">联络主题</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="Subject" />
          </div>
        </div>

        <div class="form-group row" *ngIf="data['Subject'] == '1'">
          <label class="col-md-3 col-form-label">选择项目</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="SeletedItem" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">联络时段</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="ContactTime" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label">建立时间</label>
          <div class="col-md-9"><input type="text" class="form-control" name="CreateDate" value="{{data['CreateDate']}}" disabled></div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label">内容</label>
          <div class="col-md-9">
            <textarea type="text" class="form-control" rows="6" formControlName="Detail"></textarea>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">回覆内容</label>
          <div class="col-md-9">
            <textarea class="form-control" rows="6"  formControlName="Reply"></textarea>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">处理状态</label>
          <div class="col-md-9">
            <select class="form-control" formControlName="Status">
              <option [value]="'1'">待处理</option>
              <option [value]="'2'">处理中</option>
              <option [value]="'3'">已处理</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">处理人员</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="Handler" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">回复时间</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="ReplyTime" placeholder="" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">备注</label>
          <div class="col-md-9">
            <textarea class="form-control" row="9" formControlName="Note"></textarea>
          </div>
        </div>
      </div>

      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary mr-15" [disabled]="!mainForm.valid" litmit="E03,edit"><i
            class="fa fa-dot-circle-o"></i> 确认送出</button>
        <button type="button" class="btn btn-sm btn-danger mr-15" (click)="Delete()" litmit="E03,delete"><i
            class="fa fa-dot-circle-o"></i>删除</button>
        <button type="button" class="btn btn-sm btn-secondary" (click)="Cancel()"><i class="fa fa-ban"></i> 取消</button>
      </div>

    </form>

  </div>
</div>