<!-- 物件基本资料页 -->
<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-6">
        基金商品基本资料
      </div>
      <div class="col-md-6" style="text-align: right;">
        <button type="button" class="btn btn-sm btn-success" (click)="ReturnC05()"><i class="fa fa-chevron-left"></i>返回列表</button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">基金名称: <strong>{{tempFunds.Name}}</strong></div>
    </div>
    <div class="row">
      <div class="col-md-6">基金類型: <strong>{{tempFunds.dFundType}}</strong></div>
      <div class="col-md-6">申購方式: <strong>{{tempFunds.dBuyType}}</strong></div>
    </div>
  </div>
</div>

<!-- 列表页 -->
<div class="animated fadeIn" *ngIf="!isEditor">
  <div class="card">
    <div class="card-header">
      財務報表管理
    </div>
    
    <div class="card-body">

      <div class="row">
        <div class="form-group col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-search"></i></span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="query.keyword" placeholder="搜寻報表日期(YYYY/MM)"/>
          </div>
        </div>
        <div class="form-group col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">建立时间</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="query.startDate" datePickerNgModel/>
            <span class="dayTo">~</span>
            <input type="text" class="form-control" [(ngModel)]="query.endDate" datePickerNgModel/>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 form-group">
            <button type="button" style="margin-right: 10px" class="btn btn-primary" (click)="Submit()"><i class="fa fa-dot-circle-o"></i> 送出查询</button>
            <button type="reset" class="btn btn-primary btn-danger" (click)="Reset()"><i class="fa fa-ban"></i> 清除</button>
        </div>
      </div>

      <div class="form-group float-right">
        <button type="button" style="margin-right: 10px" class="btn btn-primary btn-outline-success active" (click)="Create()" litmit="C07,add">新增</button>
      </div>

      <datatable [Source]="list" [Setting]="tableSet"></datatable>

    </div>
  </div>
</div>

<!-- 编辑页 -->
<div class="animated fadeIn" *ngIf="isEditor">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-6">
          財務報表管理 / <strong>{{mainForm.get('ID').value == null ? '新增' : '编辑'}}</strong>
        </div>
        <div class="col-md-6" style="text-align: right;">
          <button type="button" class="btn btn-sm btn-success" (click)="Cancel()"><i class="fa fa-chevron-left"></i>返回</button>
        </div>
      </div>
    </div>

    <form class="form-horizontal" [formGroup]="mainForm" (ngSubmit)="SubmitForm()">

      <div class="card-body">
        <div class="form-group row">
          <label class="col-md-3 col-form-label">ID</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="ID" readonly/>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">日期<span class="redpoint">*</span></label>
          <div class="col-md-4">
            <input type="text" class="form-control" formControlName="Year" maxlength="4" placeholder="YYYY"/>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('Year').valid || mainForm.get('Year').pristine">
                必填，請輸入年份
              </span>
            </div>
          </div>
          <div class="col-md-1" style="text-align: center; margin: auto;">/</div>
          <div class="col-md-4">
            <select class="form-control" formControlName="Month">
              <option [value]="''" style="display: none;">MM</option>
              <option [value]="'01'">01</option>
              <option [value]="'02'">02</option>
              <option [value]="'03'">03</option>
              <option [value]="'04'">04</option>
              <option [value]="'05'">05</option>
              <option [value]="'06'">06</option>
              <option [value]="'07'">07</option>
              <option [value]="'08'">08</option>
              <option [value]="'09'">09</option>
              <option [value]="'10'">10</option>
              <option [value]="'11'">11</option>
              <option [value]="'12'">12</option>
            </select>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('Month').valid || mainForm.get('Month').pristine">
                必填，請選擇月份
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">上傳PDF<span class="redpoint">*</span></label>
          <div class="col-md-9">
            <file-upload  [Source]="mainForm.get('FileUrl')" [Type]="'pdf'"></file-upload>
            <div class="col-md-12">
              <span class="help-block" [hidden]="mainForm.get('FileUrl').valid || mainForm.get('FileUrl').pristine">
                請上傳檔案
              </span>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">建立时间</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="CreateDate" placeholder="" />
          </div>
        </div>
      </div>

      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary mr-15" [disabled]="!mainForm.valid" litmit="C07,edit"><i class="fa fa-dot-circle-o"></i> 确认送出</button>
        <button type="submit" class="btn btn-sm btn-primary mr-15" [disabled]="!mainForm.valid" litmit="C07,add"><i class="fa fa-dot-circle-o"></i> 确认送出</button>
        <button *ngIf="mainForm.get('ID').value != null" type="button" class="btn btn-sm btn-danger mr-15" (click)="Delete()" litmit="C07,delete"><i class="fa fa-dot-circle-o"></i>删除</button>
        <button type="button" class="btn btn-sm btn-secondary" (click)="Cancel()"><i class="fa fa-ban"></i> 取消</button>
      </div>

    </form>

  </div>
</div>
