<!-- 列表页 -->
<div class="animated fadeIn" *ngIf="!isEditor">
  <div class="card">
    <div class="card-header">
      活动报名管理
    </div>

    <div class="card-body">

      <div class="row">

        <div class="form-group col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-search"></i></span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="query.keyword" placeholder="搜寻标题、地址" />
          </div>
        </div>
        <div class="form-group col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">建立时间</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="query.startPDate" datePickerNgModel />
            <span class="dayTo">~</span>
            <input type="text" class="form-control" [(ngModel)]="query.endPDate" datePickerNgModel />
          </div>
        </div>
        <div class="form-group col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">活动时间</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="query.startSDate" datePickerNgModel />
            <span class="dayTo">~</span>
            <input type="text" class="form-control" [(ngModel)]="query.endSDate" datePickerNgModel />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 form-group">
          <button type="button" style="margin-right: 10px" class="btn btn-primary" (click)="Submit()"><i
              class="fa fa-dot-circle-o"></i> 送出查询</button>
          <button type="reset" class="btn btn-primary btn-danger" (click)="Reset()"><i class="fa fa-ban"></i>
            清除</button>
            <button type="button" style="margin-left: 10px" class="btn btn-success" (click)="Export()"><i class="fa fa-print"></i> 汇出</button>
        </div>
      </div>

      <datatable [Source]="list" [Setting]="tableSet"></datatable>

    </div>
  </div>
</div>

<!-- 编辑页 -->
<div class="animated fadeIn" *ngIf="isEditor">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-6">
          活动报名管理 / <strong>编辑</strong>
        </div>
        <div class="col-md-6" style="text-align: right;">
          <button type="button" class="btn btn-sm btn-success" (click)="Cancel()"><i
              class="fa fa-chevron-left"></i>返回</button>
        </div>
      </div>
    </div>
    <!-- <div class="card">
    <div class="card-header">
      活动报名管理 / <strong>编辑</strong>
    </div> -->

    <form class="form-horizontal" [formGroup]="mainForm" (ngSubmit)="SubmitForm()">

      <div class="card-body">
        <div class="form-group row">
          <label class="col-md-3 col-form-label">活动标题</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="Title" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">活动时间</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="StartTime" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">地址</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="Addr" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">联络人姓名</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="ContactName" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">国籍</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="Country" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">联络电话</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="Phone" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">参加人数</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="Count" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">内容</label>
          <div class="col-md-9">
            <textarea class="form-control" rows="6" formControlName="Detail"></textarea>
          </div>
        </div>

        <!-- <div class="form-group row">
          <label class="col-md-3 col-form-label">处理人员</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="Handler" />
          </div>
        </div> -->

        <div class="form-group row">
          <label class="col-md-3 col-form-label">建立时间</label>
          <div class="col-md-9">
            <input type="text" class="form-control" formControlName="SendDate" placeholder="" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">备注</label>
          <div class="col-md-9">
            <textarea class="form-control" row="9" formControlName="Note"></textarea>
          </div>
        </div>
      </div>

      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary mr-15" [disabled]="!mainForm.valid" litmit="E04,edit"><i
            class="fa fa-dot-circle-o"></i> 确认送出</button>
        <button type="button" class="btn btn-sm btn-danger mr-15" (click)="Delete()" litmit="E04,delete"><i
            class="fa fa-dot-circle-o"></i>删除</button>
        <button type="button" class="btn btn-sm btn-secondary" (click)="Cancel()"><i class="fa fa-ban"></i> 取消</button>
      </div>

    </form>

  </div>
</div>